<li class="treeview">
	<a href="#">
		<i class="fa fa-users"></i>
		<span>Liên hệ</span>
		<span class="pull-right-container">
			<i class="fa fa-angle-left pull-right"></i>
		</span>
	</a>
	<ul class="treeview-menu" style="display: none;">
		<!-- =========================Users========================= -->
		<li ng-if="pageMethods.authSvc.isAdmin" ng-class="{'active':pageData.menuType === 'contact'}" class="treeview">
			<a ui-sref="listContacts()">
				<i class="fa fa-users text-aqua"></i> <span> Danh sách liên hệ</span>
			</a>
		</li>

		<!-- =========================Users========================= -->
		<li ng-if="pageMethods.authSvc.isAdmin" ng-class="{'active':pageData.menuType === 'contact'}" class="treeview">
			<a ui-sref="createContact()">
				<i class="fa fa-circle-o text-aqua"></i> <span> Tạo liên hệ</span>
			</a>
		</li>
		<!-- =========================END Users========================= -->
	</ul>
</li>