<li class="treeview">
    <a href="#">
    <i class="fa fa-users"></i>
        <span>Quản lý model</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <!-- =========================Users========================= -->
        <li ng-if="pageMethods.authSvc.isAdmin" ng-class="{'active':pageData.menuType === 'list-brand'}" class="treeview">
            <a ui-sref="listBrand({type: 'model'})">
                <i class="fa fa-users text-aqua"></i> <span> Danh sách model</span>
            </a>
        </li>

        <!-- =========================Users========================= -->
        <li ng-if="pageMethods.authSvc.isAdmin" ng-class="{'active':pageData.menuType === 'create-brand'}" class="treeview">
            <a ui-sref="createBrand({type: 'model'})">
                <i class="fa fa-circle-o text-aqua"></i> <span> Thêm model</span>
            </a>
        </li>
        <!-- =========================END Users========================= -->
    </ul>
</li>

