.form-layout{
    margin: 0 auto;
    padding: 30px;
    // box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    // background: white;
}

form{
    .form-group{
        margin-bottom: 0;
    }
    .form-control{
        padding: 0;
        border: none;
        border-radius: 0;
        width: 100%;
        background: none;
        color: white;
    }
    .mat-form-field-placeholder{
        color: white;
    }
    .mat-form-field-underline{
        background-color: white;
    }
    // .mat-form-field-ripple{
    //     background-color: #1b867b;
    // }
    // .mat-focused{
    //     .mat-form-field-placeholder{
    //         color: #1b867b;
    //     }
    // }
}