<section data-ng-controller="CouponAddController" id="add-order" data-ng-init="init()">
    <section class="content-header">
        <h1>Khuyến mãi</h1>
    </section>
    <ng-loading loading-done="isLoading" />
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-body">
                        <div class="form-group">
                            <a class="btn btn-primary" ng-click="create(formAddCoupon.$valid,'save&list')">Create & List</a>                            &nbsp;&nbsp;
                            <a class="btn btn-primary" ng-click="create(formAddCoupon.$valid, 'apply')">Apply</a> &nbsp;&nbsp;
                            <input type="button" value="Cancel" class="btn btn-default" ng-click="gotoList()">
                        </div>
                        <bz-message/>
                    </div>
                </div>
            </div>
            <form novalidate name="formAddCoupon" ng-submit="create(formAddCoupon.$valid, 'save&list')">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Thêm mới khuyến mãi</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <!--CODE-->
                                            <div class="form-group">
                                                <label class="control-label" for="name">Mã khuyến mãi</label>
                                                <div class="input-group input-group-md">
                                                    <input type="text" data-ng-model="formData.code" id="code" name="code" class="form-control" placeholder="Nhập mã" required>
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn btn-info btn-flat" ng-click="genaratorCode()"><i class="fa fa-bolt" aria-hidden="true"></i></button>
                                                </span>
                                                </div>

                                                <div class="error-messages message" ng-messages="formAddCoupon.code.$error" ng-messages-multiple ng-if="submitted">
                                                    <error-message require-msg="Bạn chưa nhập mã" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label" for="name">Trạng thái</label>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" data-ng-model="formData.status" id="status" name="status" ng-true-value="1" ng-false-value="0">                                                    Active
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <!--NAME-->
                                    <div class="form-group">
                                        <label class="control-label" for="description">Tên khuyến mãi</label>
                                        <div class="controls">
                                            <input type="text" data-ng-model="formData.name" id="description" name="description" class="form-control" placeholder="Nhập tên"
                                                required>
                                        </div>
                                        <div class="error-messages message" ng-messages="formAddCoupon.description.$error" ng-messages-multiple ng-if="submitted">
                                            <error-message require-msg="Bạn chưa nhập tên" />
                                        </div>
                                    </div>




                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label" for="type_coupon">Loại giám giá</label>
                                                <div class="controls">
                                                    <select class="form-control" data-ng-model="formData.type_coupon" name="type_coupon" id="type_coupon" required>
                                                        <option value="PC">Tính theo phần trăm</option>
                                                        <option value="MN">Tính theo số tiền</option>
                                                        </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label" for="value">Giá trị {{formData.type_coupon == 'PC'? ' phần trăm ' : ' tiền '}} giảm</label>
                                                <div class="controls">
                                                    <div class="input-group">
                                                        <input type="number" data-ng-model="formData.value" id="value" name="value" class="form-control" placeholder="Giá trị" min="1"
                                                            required>
                                                        <span class="input-group-addon">{{formData.type_coupon == 'PC'? '%' : 'đ'}}</span>
                                                    </div>
                                                </div>
                                                <div class="error-messages message" ng-messages="formAddCoupon.value.$error" ng-messages-multiple ng-if="submitted">
                                                    <error-message require-msg="Bạn chưa nhập  giá trị" />
                                                    <error-message min-msg="Giá trị giảm phải lớn hơn 0" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="control-label" for="value">Số lần sử dụng của một tài khoản</label>
                                            <input type="number" data-ng-model="formData.user_times" id="user_times" name="user_times" class="form-control" min="1">
                                        </div>
                                        <div class="col-md-6">
                                            <label class="control-label" for="value">Số lần sử dụng tối đa</label>
                                            <input type="number" data-ng-model="formData.times" id="times" name="times" class="form-control" min="1">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>
                                            <input type="checkbox" data-ng-model="formData.apply_product.is_apply_product" id="is_apply_product" name="is_apply_product"> Giới hạn sản phẩm áp dụng
                                        </label>
                                        <div class="input-group input-group-md">
                                            <div class="input-group-btn">
                                                <button ng-disabled="!formData.apply_product.is_apply_product" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Loại sản phẩm<span ng-bind="tmpData.limitProductType == 'XE'? ': Xe' : ': Phụ tùng'"></span>
                                                <span class="fa fa-caret-down"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a ng-click="limitProduct('XE')"><i class="fa fa-motorcycle" aria-hidden="true"></i> Xe</a></li>
                                                    <li><a ng-click="limitProduct('PT')"><i class="fa fa-cogs" aria-hidden="true"></i> Phụ tùng</a></li>
                                                </ul>
                                            </div>
                                            <!-- /btn-group -->
                                            <select class="form-control" ng-if="tmpData.limitProductType == 'XE'" data-ng-model="formData.apply_product.products" name="products"
                                                ui-select2 id="products" multiple required>
                                                <option ng-repeat="item in listVehicle" ng-value="item._id" ng-bind="item.name"></option>
                                            </select>
                                            <select class="form-control" ng-if="tmpData.limitProductType == 'PT'" data-ng-model="formData.apply_product.products" multiple
                                                name="products" ui-select2 id="products" required>
                                                <option ng-repeat="item in listAccessories" ng-value="item._id" ng-bind="item.name"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>
                                            <input type="checkbox" data-ng-model="formData.apply_time.is_apply_time" id="is_apply_time" name="is_apply_time"> Giới hạn thời gian áp dụng
                                        </label>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">Từ:</span>
                                                <input ng-disabled="!formData.apply_time.is_apply_time" type="text" single-date-time-picker atr-options="dateTimePickerOpt"
                                                    data-ng-model="formData.apply_time.start_date" id="start_date" name="start_date"
                                                    class="form-control" placeholder="Ngày áp dụng">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">Đến:</span>
                                                <input ng-disabled="!formData.apply_time.is_apply_time" type="text" single-date-time-picker atr-options="dateTimePickerOpt"
                                                    data-ng-model="formData.apply_time.end_date" id="end_date" name="end_date"
                                                    class="form-control" placeholder="Ngày kết thúc">
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</section>