<section data-ng-controller="CouponListController" data-ng-init="find()">
    <section class="content-header">
        <h1>Danh sách khuyến mãi</h1>
    </section>
    <!-- Loading -->
    <ng-loading loading-done="isLoading" />
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <div class="pull-left">
                            <a class="btn btn-primary" data-ui-sref="createCoupon">Thêm mới</a> &nbsp;&nbsp;
                        </div>
                    </div>
                    <hr/>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <bz-message/>
                        <div class="box-tools">
                            <div class="col-md-12">
                                <div class="row">
                                    <form class="form-inline filter-layout" novalidate ng-submit="filter()">
                                        <div class="form-group">
                                            <label class="control-label" for="keyword">Tìm kiếm</label>
                                            <input type="text" name="keyword" data-ng-model="search.keyword" id="keyword" class="form-control" placeholder="Từ khoá"
                                            />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="status">Trạng thái</label>
                                            <select ng-change="filter()" class="form-control" data-ng-model="search.status" id="status" name="status">
                                                    <option value="">Tất cả trạng thái</option>
                                                    <option value="1">Active</option>
                                                    <option value="0">Inactive</option>
                                                </select>
                                        </div>

                                        <div class="form-group">
                                            <div class="form-group filter-submit">
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                                <button type="submit" class="btn btn-primary">Filter</button> &nbsp;&nbsp;
                                                <a class="btn btn-default" ng-click="reset()">Reset</a>
                                            </div>
                                        </div>
                                        <hr/>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <!--<div>
                            <h4><b>Summary</b></h4>
                            <p><b>Items Per Page</b>: {{itemsPerPage}}</p>
                            <p><b>Total Page</b>: {{totalPage}}</p>
                            <p><b>Total Items</b>: {{totalItems}}</p>
                        </div>-->
                        <table id="table-list" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" ng-model="selectAll" ng-click="sellectAll()" id="selectAll" />
                                    </th>
                                    <th>#</th>
                                    <th>Mã giảm giá</th>
                                    <th>Tên giảm giá</th>
                                    <th>Số lấn sử dụng</th>
                                    <th>Trạng thái</th>
                                    <th>Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="coupon in coupons">
                                    <td>
                                        <input type="checkbox" ng-model="rowsSelected[coupon._id]" />
                                    </td>
                                    <td>{{ (currentPage-1) * itemsPerPage + $index + 1}}</td>
                                    <td>
                                        <a ui-sref="editCoupon({couponId: coupon._id})" ng-bind="coupon.code"></a>
                                    </td>
                                    <td>
                                        {{coupon.name}}
                                    </td>
                                    <td>
                                        0/{{coupon.times}}
                                    </td>
                                    <td>
                                        <a ng-click="changeStatusCoupon(coupon)">
                                            <span class="label label-success" ng-if="coupon.status == 1">Publish </span>
                                            <span class="label label-danger" ng-if="coupon.status == 0">Unpublish </span>
                                        </a>
                                    </td>
                                    <td>
                                        <a style="cursor:pointer" data-ui-sref="editCoupon({couponId: coupon._id})" title="Sửa khuyến mãi">
                                            <i class="glyphicon glyphicon-edit"></i></a>                                        &nbsp; &nbsp;
                                        <a style="cursor:pointer" class="red" title="Xoá khuyến mãi" ng-click="remove(coupon._id)">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!--<ul boundary-links="true" items-per-page="itemsPerPage" max-size="numberVisiblePages" uib-pagination total-items="totalItems" ng-model="currentPage" ng-click="pageChanged()" class="pagination-sm pull-right" previous-text="&lsaquo;" next-text="&rsaquo;"
                            first-text="&laquo;" last-text="&raquo;"></ul>-->
                        <bz-pagination max-page="10" name="user_page" current-page="currentPage" total-page="totalPage" page-changed="pageChanged">
                        </bz-pagination>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-warning text-center" data-ng-hide="!coupons.$resolved || coupons.length">
                    Chưa có khuyến mãi! Hãy thử lại sau hoặc <a data-ui-sref="createCoupon"> tạo mới khuyến mãi</a>?
                </div>
            </div>
        </div>
    </section>
</section>