<!-- build:js vendor.min.js -->
<!-- bower:js -->
<script src="{{settings.services.webUrl}}/assets/site/bower_components/jquery/dist/jquery.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/jrespond/jRespond.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/jquery-ui/jquery-ui.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/is_js/is.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/cropper/dist/cropper.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/moment/moment.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/lodash/lodash.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/file-saver/FileSaver.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/socket.io-client/dist/socket.io.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/jquery_lazyload/jquery.lazyload.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/jquery_lazyload/jquery.scrollstop.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/bLazy/blazy.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/sticky-kit/jquery.sticky-kit.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/adminbsb-materialdesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/adminbsb-materialdesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/adminbsb-materialdesign/plugins/node-waves/waves.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/adminbsb-materialdesign/plugins/jquery-countto/jquery.countTo.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/adminbsb-materialdesign/plugins/raphael/raphael.min.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/adminbsb-materialdesign/plugins/morrisjs/morris.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/adminbsb-materialdesign/plugins/chartjs/Chart.bundle.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/adminbsb-materialdesign/plugins/flot-charts/jquery.flot.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/adminbsb-materialdesign/plugins/flot-charts/jquery.flot.resize.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/adminbsb-materialdesign/plugins/flot-charts/jquery.flot.pie.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/adminbsb-materialdesign/plugins/flot-charts/jquery.flot.categories.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/adminbsb-materialdesign/plugins/flot-charts/jquery.flot.time.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/adminbsb-materialdesign/js/admin.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/bower_components/vue/dist/vue.min.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- Js Libs Manual-->
{{> web/partials/link/script_manual}} 
<!--End Js Libs Manual-->

<!-- build:js main.min.js -->
<!-- Global, Utils:js -->
<script src="{{settings.services.webUrl}}/assets/site/scripts/languages.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/scripts/variables.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/scripts/utils/datetime.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/scripts/utils/excel.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/scripts/utils/methods.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/scripts/utils/plugins.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/scripts/utils/prototypes.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/scripts/utils/sort.js"></script>
<script src="{{settings.services.webUrl}}/assets/site/scripts/utils/storage.js"></script>
<!-- endinject -->

<!-- AngularJs:js -->
<script src="{{settings.services.webUrl}}/modules/web-index/view/client/home/controller.js"></script>
<script src="{{settings.services.webUrl}}/modules/web-learn-vue/view/client/vue-1/controller.js"></script>
<script src="{{settings.services.webUrl}}/modules/web-core/view/client/bootstrap.js"></script>
<!-- endinject -->
<!-- endbuild -->