@layout('web/layout/learn_new.edge')
@section('content')
    <div id="mod-exercice-header-3">
       
    </div>
    <div id="mod-exercice-3">
        @include('web/layout/partial/excercise-3/banner')
        @include('web/layout/partial/excercise-3/creative')
        @include('web/layout/partial/excercise-3/services')
        @include('web/layout/partial/excercise-3/portfolio')
        @include('web/layout/partial/excercise-3/mission')
        @include('web/layout/partial/excercise-3/qualities')
        @include('web/layout/partial/excercise-3/testimonials')
        @include('web/layout/partial/excercise-3/works')
        @include('web/layout/partial/excercise-3/app')
        @include('web/layout/partial/excercise-3/events')
        @include('web/layout/partial/excercise-3/our-teams')
        @include('web/layout/partial/excercise-3/newsletter')
    </div>
    <div id="mod-footer-exercice-3">
        Enquiries

        + 987-654-3210
        info@eternia.com
        123, Street Name, 7th Lane
        India - A.P. - 987 896 
        Home         About Us         Services         Projects         Portfolio         Blog         Contact Us

        © Copyright 2016. Eternia Inc. All rights reserved.
    </div>
@endsection