@layout('web/layout/master.edge')
@section('content')
  <div class="container" id="mod-home">
    <modal name="hello-world" height="auto" class="modal">
      <div class="content-modal">
        [[ facebookContent.message ]]
      </div>
    </modal>
    <div class="facebook-news">
      @each(item in facebookNews)
        <facebook-component :fanpage="'{{item.name}}'"></facebook-component>
      @endeach
    </div>
  </div>
@endsection