#mod-don-hang{
	.container{
		.content{
			width: 968px;
			max-width: 100%;
			padding: 0 20px;
		}
		.search{
			margin-top: 10px;
			h1{
				float:left;
				@include font($fontR,24px,#333,400);
			}
			.search-detail{
				float: right;
				input{
					width: 160px;
					max-width: 100%;
					font-size: 14px;
					padding: 5px 0 5px 5px;
					color: #464a4c;
					background-color: #fff;
					background-image: none;
					border: 1px solid rgba(0, 0, 0, 0.15);
					border-radius: 0.25rem;
				}
				a{
					background: #f60;
					border: solid 1px #f60;
					border-radius: 3px;
					color: #fff;
					float: right;
					margin-left: 10px;
					padding: 3px 30px;
				}
			}

		}
		.info{
			border: solid 1px #ebebeb;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24), 0 0 1px rgba(0, 0, 0, 0.4);
			margin:20px 0 60px;
			
			@include font($fontR,14px,#222,400);
			.info-top{
				padding: 10px 20px;
				border-bottom: solid 1px #eee;
				label{
					margin-bottom: 0;
					@include font($fontR,10px,#222,400);
				}
				.info-sp{
					float: left;
					div{
						float: left;
						padding-right: 60px;
					}

				}
				.noigiao{
					float: right;
					text-align: right;
				}
			}
		
			.info-bot{
				padding: 10px 20px;
				.img-sp{
					float:left;
				}
				.info-moto{
					float: left;
					padding-left: 16px;
					.name-moto{
						@include font($fontR,20px,#222,500);
						span{
							@include font($fontR,16px,#999,400);
							padding-left: 10px;
						}
					}
					p{
						margin-bottom: 0;
					}
					.text-or{
						color:#f60;
					}
				}
				.now-status{
					float: right;
					label{
						@include font($fontR,10px,#222,400);
						margin-bottom: 0;
					}
					p{
						@include font($fontR,20px,#222,400);
						margin-bottom: 1.5rem;
					}
					a{
						@include font($fontR,18px,#fff,400);
						border:solid 1px #f60;
						border-radius: 5px;
						background: #f60;
						margin-top: 10px;
						padding:5px 60px;
					}
				}
			}
		}
	}
}
@media only screen and(max-width: 941px){
	#mod-don-hang{
		.info{
			.noigiao{
				float: left !important;
				text-align: left !important;
			}
		}
	}
}
@media only screen and(max-width: 868px){
	#mod-don-hang{
		.info{
			.now-status{
				float: left !important;
				padding-left: 16px;
			}
		}
	}
}
@media only screen and(max-width: 758px){
	#mod-don-hang{
		.search-detail{
			float: left !important;
		}
	}
}
@media only screen and(max-width: 558px){
	#mod-don-hang{
		.search-detail{
			.sub-sr{
				float: left !important;
				margin: 10px 0 0 !important;
			}
		}
	}
}
@media only screen and(max-width: 382px){
	#mod-don-hang{
		.search-detail{
			.plus{
				display: none;
			}
			.sdt{
				margin-top: 10px;
			}
		}
	}
}