<!doctype html>
<html>

<head>
    {% include "web/layout/partial/header.njk" %}
</head>

<body class="theme-red">
    {% include "web/layout/partial/loading.njk" %}
    <div class="wrapper">
        {% include "web/layout/partial/header-nav.njk" %}
        {% include "web/layout/partial/sidebar.njk" %}
        <section class="content">
            {% block content %}{% endblock %}
        </section>
    </div>
    {% include "web/layout/partial/footer.njk" %}
</body>

</html>