<!doctype html>
<html>

<head>
    {% include "web/layout/partial/master/header.njk" %}
</head>

<body>
    {% block content %}{% endblock %}
    {% include "web/layout/partial/master/footer.njk" %}
</body>

</html>