<div class="row" id="mod-dashboard">
    <div class="col-3">
        <div class="box white">
            <div class="float-left left-section">
                <i class="material-icons">supervisor_account</i>
            </div>
            <div class="float-right">
                <p>User</p>
                <p>{{countUser}}</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="box white">
            <div class="float-left left-section">
                <i class="material-icons">bookmark</i>
            </div>
            <div class="float-right">
                <p>Link Website</p>
                <p>{{countWebsite}}</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="box white">
            <div class="float-left left-section">
                <i class="material-icons">web</i>
            </div>
            <div class="float-right">
                <p>Websites</p>
                <p>{{countAccount}}</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="box white">
            <div class="float-left left-section">
                <i class="material-icons">work</i>
            </div>
            <div class="float-right">
                <p>Account</p>
                <p>{{allAccount}}</p>
            </div>
        </div>
    </div>
</div>