<% extends 'web/layouts/layout.html' %>

<% block content %>
<% include "web/layouts/partials/banner.html" %>
<div id="mod-home" data-ng-controller="homeCtrl as vmHome">
	<div class="logo-moto">
		<div class="container">
            <% for brand in listBrand %>
                <div class="icon-logo" style="background: url('../files/category/<$ brand.image $>') center center no-repeat">
                    <a href="<$ brand.link $>" target="_blank">
                        <img src="assets/images/icon-logo.png" class="opacity" alt="">
                    </a>
                </div>
            <% endfor %>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="search-moto">
		<div class="container">
            <form>
                <div class="group-search row">
                    <div class="col-md-3 col-12 tinhtrang">
                        <div class="form-group">
                            <label for="sel-type">TÌNH TRẠNG XE</label>
                            <select class="form-control" id="sel-type">
                                <option value="">Chọn tình trạng</option>
                                <option value="new">Mới</option>
                                <option value="old">Cũ</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 col-12 loai">
                        <div class="form-group">
                            <label for="sel-model">LOẠI XE</label>
                            <select class="form-control" id="sel-model">
                                <option value="">Chọn loại xe</option>
                                <% for model in listModel %>
                                    <option value="<$ model.slug $>"><$ model.name $></option>
                                <% endfor %>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 col-12 nhasx">
                        <div class="form-group">
                            <label for="sel-brand">NHÀ SẢN XUẤT</label>
                            <select class="form-control" id="sel-brand">
                                <option value="">Chọn nhà sản xuất</option>
                                <% for brand in listBrand %>
                                    <option value="<$ brand.slug $>"><$ brand.name $></option>
                                <% endfor %>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3 col-12 gia">
                        <div class="form-group">
                            <label for="sel1">GIÁ</label>
                            <select class="form-control" id="sel1">
                                <option value="">Chọn khung giá</option>
                                <option value="1">dưới 30.000.000 đ</option>
                                <option value="2">30.000.000 đ - 50.000.000 đ</option>
                                <option value="3">50.000.000 đ - 75.000.000 đ</option>
                                <option value="4">75.000.000 đ - 100.000.000 đ</option>
                                <option value="5">trên 100.000.000 đ</option>
                            </select>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="submit">
                        <a href="">Tìm Kiếm</a>
                    </div>
                </div>
            </form>
		</div>
	</div>

    <div class="mod-banner-buy">
        <div id="slider-home" class="max-height">
            <div class="list-item">
                <div class="item show-desktop">
                    <h1>XE BÁN CHẠY</h1>
                    <div class="ct-moto">
                        <% for product in listProduct %>
                            <div class="moto moto-1" style="background: url('files/product/<$ product.thumb.url $>') center center no-repeat;">
                                <p><strong class="text-uppercase"><$ product.brand.name $></strong> <$ product.name $> <br>đ <$ product.price_user | currency(',') $></p>
                                <img src="assets/images/moto-1.png" class="opacity">
                            </div>
                        <% endfor %>
                    </div>
                    <div class="border-bot"></div>
                </div>
            </div>
        </div>
    </div>

	<div id="mod-banner-gen">
        <div class="container">
            <div id="slider-home" class="max-height">
                <div class="list-item">
                    <% for model in listModel %>
                    <div data-thumb="<$ model.name | upper $>" class="item show-desktop">
                        <div  class="moto moto-1" style="background: url('files/category/<$ model.image $>') center center no-repeat;">
                            <img src="assets/images/moto-nake.png" class="opacity">
                        </div>
                        <label for=""><$ model.name | upper $></label>
                        <span>
                            Racetrack performance refined for the road <br>
                            <a href="/danh-muc/<$ model.slug $>">Xem tất cả xe <$ model.name | capitalize $> > </a>
                        </span>
                    </div>
                    <% endfor %>
                </div>
            </div>
        </div>
    </div>
</div>
<% endblock %>

<% block jsInline %>
<% endblock %>
