$color_primary: #03A9F4;
$color_primary_dark: #0288D1;
$color_primary_light: #B3E5FC;
$color_accent: #536DFE;
$color_primary_text: #212121;
$color_secondary_text: #757575;
$color_icons: #FFFFFF;
$color_divider: #BDBDBD;