<section data-ng-controller="OrdersAddController" id="add-order" data-ng-init="init()">
    <section class="content-header">
        <h1>Đơn hàng</h1>
    </section>
    <ng-loading loading-done="isLoading" />
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-body">
                        <div class="form-group">
                            <a class="btn btn-primary" ng-click="create(formAddOrder.$valid,'save&list')">Create & List</a>                            &nbsp;&nbsp;
                            <a class="btn btn-primary" ng-click="create(formAddOrder.$valid, 'apply')">Apply</a> &nbsp;&nbsp;
                            <input type="button" value="Cancel" class="btn btn-default" ng-click="gotoList()">
                        </div>
                        <bz-message/>
                    </div>
                </div>
            </div>
            <form novalidate name="formAddOrder">
                <div class="col-md-8">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Thêm mới đơn hàng</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label" for="name">Loại đơn hàng</label>
                                        <div class="row">
                                            <div class="col-md-offset-1 col-md-2">
                                                <div class="radio">
                                                    <label><input ng-model="formData.type" class="" ng-change="onChangeType()" type="radio" name="type" value="XE"> Xe</label>
                                                </div>
                                            </div>
                                            <div class="col-md-5 ">
                                                <div class="radio">
                                                    <label><input ng-model="formData.type" class="" ng-change="onChangeType()" type="radio" name="type" value="PT">Phụ tùng - Phụ kiện</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <!--Trạng thái đơn hàng-->
                                            <div class="form-group">
                                                <label class="control-label" for="status">Trạng thái đơn hàng</label>
                                                <div class="controls">
                                                    <select class="form-control" data-ng-model="formData.status" name="status" id="status" ng-options="item.value as item.name for item in OrderStatuses"
                                                        required>
                                            </select>
                                                </div>
                                                <div class="error-messages message" ng-messages="formAddOrder.status.$error" ng-messages-multiple ng-if="submitted">
                                                    <error-message require-msg="You did not select a field" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <!-- Hình thức thanh toán-->
                                            <div class="form-group">
                                                <label class="control-label" for="payment_method">Hình thức thanh toán</label>
                                                <div class="controls">
                                                    <select class="form-control" data-ng-model="formData.payment_method" name="payment_method" id="payment_method" ng-options="item.value as item.name for item in Payment_methods"
                                                        required>
                                                    </select>
                                                </div>
                                                <div class="error-messages message" ng-messages="formAddOrder.payment_method.$error" ng-messages-multiple ng-if="submitted">
                                                    <error-message require-msg="You did not select a field" />
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <!--<div class="form-group">
                                        <label class="control-label" for="address">Ghi chú</label>
                                        <div class="controls">
                                            <textarea data-ng-model="formData.note" name="note" id="note" class="form-control"></textarea>
                                        </div>
                                    </div>-->
                                    <!-- Tỉnh thành -->
                                    <div class="buy-verhicle" ng-if="formData.type == 'XE'">
                                        <div class="form-group">
                                            <label class="control-label" for="ddlVehicle">Xe</label>
                                            <select class="form-control" name="vehicle" ng-change="onChangeVehicle()" ng-model="tmpData.vehicle.id" ui-select2 required>
                                            <option value=''>-- Chọn xe --</option>
                                            <option ng-repeat="item in listVehicle" ng-value="item._id" ng-bind="item.name"></option>
                                        </select>
                                            <div class="error-messages message" ng-messages="formAddOrder.vehicle.$error" ng-messages-multiple ng-if="submitted">
                                                <error-message require-msg="Bạn chưa chọn xe" />
                                            </div>
                                        </div>

                                        <div class="row" ng-if="tmpData.vehicle.id">
                                            <div class="col-md-6">
                                                <div class="img-preview">
                                                    <img src="https://tinhte.cdnforo.com/store/2012/08/3173304_Ducati_Monster_696.jpg" alt="" class="img-responsive img-preview">
                                                </div>
                                                <div class="info-vehicle">
                                                    <h4 class="text-center">{{tmpData.vehicle.object.name}}</h4>
                                                    <h5 class="text-center"><strong>Giá</strong>: {{tmpData.vehicle.object.price_user | currency:"":0}}
                                                        đ
                                                    </h5>
                                                    <h5 class="text-center">
                                                        <span class="color-verhicle" style="background-color: green">Xanh</span>                                                        &nbsp
                                                        <span class="color-verhicle" style="background-color: red">Đỏ</span>                                                        &nbsp
                                                        <span class="color-verhicle" style="background-color: deeppink">Hồng</span></h5>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="info-vehicle">
                                                    <!--Tiền cọc-->
                                                    <div class="form-group">
                                                        <label class="control-label" for="total_pay">Giá bán:</label>
                                                        <div class="controls">
                                                            <input type="number" data-ng-model="formData.total_pay" id="total_pay" name="total_pay" class="form-control" placeholder="Tiền cọc xe"
                                                                min="0" required>
                                                        </div>
                                                        <div class="error-messages message" ng-messages="formAddOrder.total_pay.$error" ng-messages-multiple ng-if="submitted">
                                                            <error-message/>
                                                        </div>
                                                    </div>
                                                    <!--Tiền cọc-->
                                                    <div class="form-group">
                                                        <label class="control-label" for="name">Tiền cọc</label>
                                                        <div class="controls">
                                                            <input type="number" data-ng-model="formData.total_deposit" id="total_deposit" name="total_deposit" class="form-control"
                                                                placeholder="Tiền cọc xe" min="0" max="{{formData.total_pay}}"
                                                                required>
                                                        </div>
                                                        <div class="error-messages message" ng-messages="formAddOrder.total_deposit.$error" ng-messages-multiple ng-if="submitted">
                                                            <error-message/>
                                                        </div>
                                                    </div>

                                                    <!--Tiền còn lại-->
                                                    <div class="form-group">
                                                        <label class="control-label" for="name">Tiền còn lại</label>
                                                        <div class="controls">
                                                            <input type="number" value="{{formData.total_pay- formData.total_deposit}}" id="total_extant" name="total_extant" class="form-control"
                                                                placeholder="Tiền còn lại" disabled min="0" required>
                                                        </div>
                                                        <div class="error-messages message" ng-messages="formAddOrder.total_extant.$error" ng-messages-multiple ng-if="submitted">
                                                            <error-message/>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="buy-pt-pk" ng-if="formData.type == 'PT'">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="ten-san-pham">Sản phẩm</th>
                                                    <th class="so-luong">Số lượng</th>
                                                    <th class="don-gia">Đơn giá</th>
                                                    <th>Thành tiền</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="(index, item) in formData.products track by index">
                                                    <td class="total-product">{{tmpData.products[index].name}}</td>
                                                    <td class="total-product">{{item.qty}}</td>
                                                    <td class="total-product">{{item.price | currency:"":0}} đ</td>
                                                    <td class="total-product">{{item.total | currency:"":0}} đ</td>
                                                    <td><button class="btn btn-link red" ng-click="removeProduct(item.product, index)"><i class="fa fa-times"></i> Xoá</button></td>
                                                </tr>
                                                <tr ng-if="!showFormAddProduct && formData.products.length > 0 && Accessories.length != 0">
                                                    <td class="text-center" ng-click="showFormAdd(true)" colspan="5"><button class="btn btn-link">Thêm sản phẩm</button></td>
                                                </tr>
                                                <tr ng-if="showFormAddProduct || formData.products.length == 0">
                                                    <td>
                                                        <select class="form-control" ui-select2 ng-change="onSelectProduct()" name="sl-product-pt" ng-model="tmpData.formAddProduct.product"
                                                            required>
                                                            <option value=''>-- Chọn sản phẩm --</option>
                                                            <option ng-repeat="item in Accessories" ng-value="item._id" ng-bind="item.name"></option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="number" data-ng-model="tmpData.formAddProduct.qty" id="formAddProduct_qty" name="formAddProduct_qty" class="form-control"
                                                            placeholder="Số lượng" min="1" required>
                                                        <div class="error-messages" ng-if="tmpData.formAddProduct.qty< 1">
                                                            <span>Số lượng không hợp lệ</span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <input type="number" data-ng-model="tmpData.formAddProduct.price" id="formAddProduct_qty" name="formAddProduct_price" class="form-control"
                                                            placeholder="Số lượng" min="0" required>
                                                        <div class="error-messages message ng-scope ng-active" ng-if="tmpData.formAddProduct.qty <= 0">
                                                            <span>Giá không hợp lệ</span>
                                                        </div>
                                                    </td>
                                                    <td class="total-product">{{tmpData.formAddProduct.qty * tmpData.formAddProduct.price | currency:"":0}}</td>
                                                    <td><button class="btn btn-link" ng-click="addProduct()" ng-disabled="(tmpData.formAddProduct.qty * tmpData.formAddProduct.price <= 0) || tmpData.formAddProduct.product == ''">Thêm</button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="box box-success right" ng-if="formData.products.length > 0">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Thông tin đơn hàng</h3>
                                        </div>
                                        <div class="box-body">
                                            <h5>Tổng cộng: <span>{{formData.total_pay | currency:"":0}}  đ</span></h5>
                                            <div class="form-group">
                                                <a class="btn btn-primary" ng-click="create(formAddOrder.$valid,'save&list')">Create & List</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Thông tin khách hàng</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">

                                    <!--Tài khoản-->
                                    <div class="form-group">
                                        <label class="control-label" for="name">Tài khoản</label>
                                        <div class="controls">
                                            <select class="form-control" ng-change="getUserInfo()" name="customer_info_customer" ng-model="formData.customer_info.customer"
                                                ui-select2>
                                                <option value=''>-- Chọn tài khoản --</option>
                                                <option ng-repeat="user in listUser" ng-value="user._id" ng-bind="user.name"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <!--Họ tên-->
                                    <div class="form-group">
                                        <label class="control-label" for="name">Họ tên</label>
                                        <div class="controls">
                                            <input type="text" data-ng-model="formData.customer_info.name" id="customer_info_name" name="name" class="form-control" placeholder="Tên"
                                                required>
                                        </div>
                                        <div class="error-messages message" ng-messages="formAddOrder.name.$error" ng-messages-multiple ng-if="submitted">
                                            <error-message require-msg="Bạn chưa nhập tên khách hàng" />
                                        </div>
                                    </div>
                                    <!--Email-->
                                    <div class="form-group">
                                        <label class="control-label" for="email">Email</label>
                                        <div class="controls">
                                            <input type="email" data-ng-model="formData.customer_info.email" id="customer_info_email" name="customer_info_email" class="form-control"
                                                placeholder="Email" required>
                                        </div>
                                        <div class="error-messages message" ng-messages="formAddOrder.customer_info_email.$error" ng-messages-multiple ng-if="submitted">
                                            <error-message require-msg="Bạn chưa nhập email khách hàng" />
                                        </div>
                                    </div>

                                    <!--Phone-->
                                    <div class="form-group">
                                        <label class="control-label" for="phone">Điện thoại</label>
                                        <div class="controls">
                                            <input type="text" data-ng-model="formData.customer_info.phone" name="customer_info_phone" id="customer_info_phone" class="form-control"
                                                placeholder="Điện thoại" required>
                                        </div>
                                        <div class="error-messages message" ng-messages="formAddOrder.customer_info_phone.$error" ng-messages-multiple ng-if="submitted">
                                            <error-message require-msg="Bạn chưa nhập số điện thoại khách hàng" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box box-warning">
                        <div class="box-header with-border">
                            <h3 class="box-title">Thông tin giao hàng</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- Tỉnh thành -->
                                    <div class="form-group">
                                        <label class="control-label" for="ddlProvince">Tỉnh thành</label>
                                        <select class="form-control" ng-change="filterAgent()" name="shipping_info_province" ng-model="formData.shipping_info.province"
                                            ng-options="key as value.name for (key , value) in mapVN[0]" ui-select2 required>
                                            <option value=''>-- Chọn Tỉnh --</option>
                                        </select>
                                        <div class="error-messages message" ng-messages="formAddOrder.shipping_info_province.$error" ng-messages-multiple ng-if="submitted">
                                            <error-message require-msg="Bạn chưa chọn tỉnh" />
                                        </div>
                                    </div>
                                    <!-- Quận huyện -->
                                    <div class="form-group">
                                        <label class="control-label" for="shipping_info_ddlDistrict">Quận huyện</label>
                                        <select ui-select2 ng-change="filterAgent()" class="form-control" name="shipping_info_district" ng-model="formData.shipping_info.district"
                                            ng-options="key as value for (key , value) in mapVN[0][formData.shipping_info.province].districts"
                                            required>
                                            <option value=''>-- Chọn Quận huyện --</option>
                                        </select>
                                        <div class="error-messages message" ng-messages="formAddOrder.shipping_info_district.$error" ng-messages-multiple ng-if="submitted">
                                            <error-message require-msg="Bạn chưa chọn quận huyện" />
                                        </div>
                                    </div>
                                    <!-- Đại lý-->
                                    <div class="form-group">
                                        <label class="control-label" for="ddlProvince">Đại lý</label>
                                        <select class="form-control" ui-select2 name="shipping_info_agent" ng-change="onChangeAgent()" ng-model="formData.shipping_info.agent"
                                            required>
                                            <option value=''>-- Chọn đại lý --</option>
                                            <option ng-repeat="item in listAgent" ng-value="item._id" ng-bind="item.name"></option>
                                        </select>
                                        <div class="error-messages message" ng-messages="formAddOrder.shipping_info_agent.$error" ng-messages-multiple ng-if="submitted">
                                            <error-message require-msg="Bạn chưa chọn đại lý" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</section>