<section data-ng-controller="OrderListController" data-ng-init="find()">
    <section class="content-header">
        <h1>Danh sách đơn hàng</h1>
    </section>
    <!-- Loading -->
    <ng-loading loading-done="isLoading" />
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <div class="pull-left">
                            <a class="btn btn-primary" data-ui-sref="createOrder">Thêm mới</a> &nbsp;&nbsp;
                        </div>
                    </div>
                    <hr/>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <bz-message/>
                        <div class="box-tools">
                            <div class="col-md-12">
                                <div class="row">
                                    <form class="form-inline filter-layout" novalidate ng-submit="filter()">
                                        <div class="form-group">
                                            <label class="control-label" for="keyword">Tìm kiếm</label>
                                            <input type="text" name="keyword" data-ng-model="search.keyword" id="keyword" class="form-control" placeholder="Từ khoá"
                                            />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="status">Trạng thái</label>
                                            <select ng-change="filter()" class="form-control" data-ng-model="search.status" id="status" name="status">
                                                    <option value="">Chọn trạng thái</option>
                                                    <option ng-repeat="stt in orderStatuses" ng-value="stt.value" ng-bind="stt.name"></option>
                                                </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="type">Loại đơn hàng</label>
                                            <select ng-change="filter()" class="form-control" data-ng-model="search.type" id="type" name="type">
                                                    <option value="">Chọn loại</option>
                                                    <option value="XE">Xe</option>
                                                    <option value="PT">Phụ tùng - phụ kiện</option>
                                                </select>
                                        </div>

                                        <div class="form-group">
                                            <div class="form-group filter-submit">
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                                <button type="submit" class="btn btn-primary">Filter</button> &nbsp;&nbsp;
                                                <a class="btn btn-default" ng-click="reset()">Reset</a>
                                            </div>
                                        </div>
                                        <hr/>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <!--<div>
                            <h4><b>Summary</b></h4>
                            <p><b>Items Per Page</b>: {{itemsPerPage}}</p>
                            <p><b>Total Page</b>: {{totalPage}}</p>
                            <p><b>Total Items</b>: {{totalItems}}</p>
                        </div>-->
                        <table id="table-list" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" ng-model="selectAll" ng-click="sellectAll()" id="selectAll" />
                                    </th>
                                    <th>#</th>
                                    <th>Khách hàng</th>
                                    <th>Sản phẩm</th>
                                    <th>Trạng thái</th>
                                    <th>Tổng tiền</th>
                                    <th>Khuyến mãi</th>
                                    <th>Thông tin giao hàng</th>
                                    <th>Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="order in orders">
                                    <td>
                                        <input type="checkbox" ng-model="rowsSelected[order._id]" />
                                    </td>
                                    <td>{{ (currentPage-1) * itemsPerPage + $index + 1}}</td>
                                    <td>
                                        <strong>{{order.customer_info.name}}</strong><br>
                                        <span ng-bind="order.customer_info.email"></span><br>
                                        <span ng-bind="order.customer_info.phone"></span>
                                    </td>
                                    <td ng-if="order.type == 'PT'">
                                        <span ng-repeat="item in order.products">
                                                <span ng-bind="item.qty"></span>                                        x
                                        <a ui-sref="editProduct({productId: item.product_obj._id})" ng-bind="item.product_obj.name"></a>
                                        <span ng-if="!$last">, <br/></span>
                                        </span>
                                    </td>
                                    <td ng-if="order.type == 'XE'">
                                        <span>
                                              Xe: <a ui-sref="editProduct({productId: order.products[0].product_obj._id})" ng-bind="order.products[0].product_obj.name"></a> 
                                        </span>
                                    </td>
                                    <td>
                                        <a ng-click="changeStatusOrder(order)" ng-bind-html="getOrderStatus(order.status)"></a>                                        <br>
                                        <span>Đặt ngày: {{order.createdAt | date:'dd-MM-yyyy'}}</span>
                                    </td>
                                    <td>
                                        {{order.total_pay | currency:"":0}} đ <br>
                                    </td>
                                    <td>{{order.coupon.value | currency:"":0}} đ</td>
                                    <td>
                                        <span>Đại lý: <strong>{{order.shipping_info.name}}</strong></span><br>
                                        <span>{{order.shipping_info.phone}}</span><br>
                                        <span>Địa chỉ: {{order.shipping_info.address}}</span>
                                    </td>
                                    <td>
                                        <a style="cursor:pointer" data-ui-sref="editOrder({orderId: order._id})" title="Sửa đơn hàng">
                                            <i class="glyphicon glyphicon-edit"></i></a>                                        &nbsp; &nbsp;
                                        <a style="cursor:pointer" class="red" title="Xoá đơn hàng" ng-click="remove(order._id)">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!--<ul boundary-links="true" items-per-page="itemsPerPage" max-size="numberVisiblePages" uib-pagination total-items="totalItems" ng-model="currentPage" ng-click="pageChanged()" class="pagination-sm pull-right" previous-text="&lsaquo;" next-text="&rsaquo;"
                            first-text="&laquo;" last-text="&raquo;"></ul>-->
                        <bz-pagination max-page="10" name="user_page" current-page="currentPage" total-page="totalPage" page-changed="pageChanged">
                        </bz-pagination>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-warning text-center" data-ng-hide="!orders.$resolved || orders.length">
                    Chưa có đơn hàng thử lại sau hoặc <a data-ui-sref="createOrder"> nhập đơn hàng mới</a>?
                </div>
            </div>
        </div>
    </section>
</section>