/****************************************************************************************
Description: Main layout
*****************************************************************************************/
header{
    height: auto;
}
html.full-frame {
    overflow-x: hidden;
    .view-container {
        // perspective: 1200px;
        // transform-style: preserve-3d;
        width: 100%;
    }
}

body {
    position: relative;
    display: grid;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    grid-template-rows: 80px 1fr;
}
.img-responsive {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.opacity {
    opacity: 0;
}

.no-underline{
    text-decoration: none;
}

.cursor-default{
    cursor: default;
}

.inline-block{
    display: inline-block;
}

.container{
    margin: 0 auto;
    max-width: 1140px;
}

@media (max-width: 1200px){
    .container{
        max-width: 960px;
    }
}

@media (max-width: 992px){
    .container{
        max-width: 720px;
    }
}

@media (max-width: 768px){
    .container{
        max-width: 540px;
    }
}