/****************************************************************************************
Description: Main layout
*****************************************************************************************/
header{
    height: auto;
}
html.full-frame {
    * {
        font-size: initial;
    }
    overflow-x: hidden;
    .view-container {
        // perspective: 1200px;
        // transform-style: preserve-3d;
        width: 100%;
    }
}
a, a:hover{
    text-decoration: none;
}
body {
    position: relative;
    // display: grid;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // grid-template-rows: 80px 1fr;
}
.img-responsive {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.opacity {
    opacity: 0;
}

.no-underline{
    text-decoration: none;
}

.cursor-default{
    cursor: default;
}

.inline-block{
    display: inline-block;
}

.container{
    margin: 0 auto;
    max-width: 1140px;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}

@media (max-width: 1200px){
    .container{
        max-width: 960px;
    }
}

@media (max-width: 992px){
    .container{
        max-width: 720px;
    }
}

@media (max-width: 768px){
    .container{
        max-width: 540px;
    }
}