<header id="mod-header" :class="classHeader">
    <div class="container">
        <a href="" class="button">
            <strong>Home</strong>
        </a>
        <a href="" class="button">
            <strong>Home</strong>
        </a>
        <a href="" class="button">
            <strong>Home</strong>
        </a>
    </div>
</header>