<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MT</title>
  {{ css('assets/dist/web/style/main') }}
  {{ css('https://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab:400,700|Roboto:400,700') }}
</head>
