<header id="mod-header">
    <div class="header-nav" :class="classHeader">
        <div class="container">
            <a href="" class="button">
                <strong>Home</strong>
            </a>
        </div>
    </div>
</header>