.mod-banner-buy {
    padding-top: 20px;
    padding-bottom: 40px;
    .item {
        margin-bottom: 30px;
    }
    .opacity {
        opacity: 0;
    }
    .ct-moto{
     /*   border-bottom: solid 1px;
        max-width: 1160px;*/
        margin: auto;
    }
    .border-bot{
      max-width: 1160px;
      margin: auto;
      border-bottom: solid 1px;  
    }
    .moto {
        float: left;
        padding-left: 100px;
    }
    h1 {
        text-align: center;
        padding-bottom: 60px;
        @include font($fontR, 28px, #000, 400);
    }
    .slick-dots li button:before {
        font-size: 60px;
    }
    .slick-next {
        right: 20px;
        background-image: url(../images/next-2.png);
        width: 38px;
        height: 64px;
        &::before {
            content: none;
        }
    }
    .slick-prev {
        left: 25px;
        z-index: 2;
        background-image: url(../images/prev-2.png);
        width: 38px;
        height: 64px;
        &::before {
            content: none;
        }
    }
}