#mod-home {
    .container{
        padding: 0;
    }
    .logo-moto {
        max-width: 921px;
        margin: auto;
        padding-bottom: 20px;
    }
    .icon-logo {
        float: left;
        padding-right: 21px;
        padding-left: 21px;
        filter: grayscale(100%);
    }
    .search-moto {
        background: #000;
        padding-bottom: 20px;
        .group-search {
            max-width: 1040px;
            margin: auto;
        }
        .form-control{
            background: #fff;
        }
        .submit {
            max-width: 100px;
            margin: auto;
            padding-top: 20px;
            a {
                color: #fff;
                border: solid 1px;
                border-radius: 5px;
                padding: 5px 10px;
            }
        }
    }
    .tinhtrang,
    .loai,
    .nhasx,
    .gia {
        float: left;
        padding: 0 20px;
        max-width: 260px;
        label {
            color: #fff;
        }
    }
}

.container {
    width: 1440px;
    max-width: 100%;
    padding:0;
}
.content{
    width: 1160px;
    max-width: 100%;
    margin:auto;
}
@media only screen and(max-width: 1024px) { 
    .inside{
        padding-top: 50px;
    }
}