<% extends 'web/layouts/layout.html' %>

<% block content %>
<div id="mod-checkout-congratulation">
	<div class="text">
		<div class="title">
			<p class="gear">GEAR UP cám ơn bạn đã đặt hàng</p>
			<p class="code">Mã đặt hàng của bạn là: 3242934873</p>
		</div>
		<div class="address">
			<p>Bạn sẽ nhận được emai xác định trong giây lát từ Sale@gearup.vn với nội dung
				<a href="" title="" class="details"> chi tiết đơn hàng.</a>
			</p>
			<p>HOTLINE của Gear Up: <span>(0888)-888-888</span></p>
		</div>
	</div>
	<a href="" title="" class="come-back">Trở về trang chủ ></a>
</div>
<% endblock %>
