<% extends 'web/layouts/layout.html' %>

<% block content %>
<% include "web/layouts/partials/banner.html" %>
<div id="mod-home">
	<div class="container">
		<div class="logo-moto">
			
			<div class="icon-logo" style="background: url('../assets/images/icon-logo.png') center center no-repeat">
				<img src="assets/images/icon-logo.png" class="opacity" alt="">
			</div>
			<div class="icon-logo" style="background: url('../assets/images/icon-logo.png') center center no-repeat">
				<img src="assets/images/icon-logo.png" class="opacity" alt="">
			</div>
			<div class="icon-logo" style="background: url('../assets/images/icon-logo.png') center center no-repeat">
				<img src="assets/images/icon-logo.png" class="opacity" alt="">
			</div>
			<div class="icon-logo" style="background: url('../assets/images/icon-logo.png') center center no-repeat">
				<img src="assets/images/icon-logo.png" class="opacity" alt="">
			</div>
			<div class="icon-logo" style="background: url('../assets/images/icon-logo.png') center center no-repeat">
				<img src="assets/images/icon-logo.png" class="opacity" alt="">
			</div>
			<div class="icon-logo" style="background: url('../assets/images/icon-logo.png') center center no-repeat">
				<img src="assets/images/icon-logo.png" class="opacity" alt="">
			</div>
			<div class="icon-logo" style="background: url('../assets/images/icon-logo.png') center center no-repeat">
				<img src="assets/images/icon-logo.png" class="opacity" alt="">
			</div>
			<div class="icon-logo" style="background: url('../assets/images/icon-logo.png') center center no-repeat">
				<img src="assets/images/icon-logo.png" class="opacity" alt="">
			</div>
			<div class="icon-logo" style="background: url('../assets/images/icon-logo.png') center center no-repeat">
				<img src="assets/images/icon-logo.png" class="opacity" alt="">
			</div>
			<div class="clearfix"></div>
		</div>
		
		<div class="search-moto">

			<div class="group-search row">
				<div class="col-md-3 col-12 tinhtrang">
					<div class="form-group">
						<label for="sel1">TÌNH TRẠNG XE</label>
						<select class="form-control" id="sel1">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
						</select>
					</div>
				</div>
				<div class="col-md-3 col-12 loai">
					<div class="form-group">
						<label for="sel1">LOẠI XE</label>
						<select class="form-control" id="sel1">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
						</select>
					</div>
				</div>
				<div class="col-md-3 col-12 nhasx">
					<div class="form-group">
						<label for="sel1">NHÀ SẢN XUẤT</label>
						<select class="form-control" id="sel1">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
						</select>
					</div>
				</div>

				<div class="col-md-3 col-12 gia">
					<div class="form-group">
						<label for="sel1">GIÁ</label>
						<select class="form-control" id="sel1">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
						</select>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="submit">
					<a href="">Tìm Kiếm</a>
				</div>
				
			</div>

		</div>
		<% include "web/layouts/partials/banner-buy.html" %>
		<% include "web/layouts/partials/banner-gen.html" %>
	</div>
</div>
</div>
<% endblock %>
