#mod-breadcrum{
	border-bottom: solid 1px #ebebeb; 
	padding: 12px;
	ul{
		list-style-type: none;
		margin:0;
		padding: 0;	
	}
	li{
		
		display:inline-block;
		&:last-child{
			span{
				display:none;
			}
		}
	}
	span{
		margin-left: 10px;
		color: #ddd;
	}
	a{
		@include font($fontR,14px,#222,400);
		text-decoration: none;
		font-style: normal;
	}
}
