<div id="mod-login" class="container">
    <div class="fake-bg"></div>
    <form class="form-layout" #f="ngForm" (ngSubmit)="submit(f)">
        <input type="text" ngModel name="csrfToken" #csrfToken="ngModel">
        <div class="form-group">
            <md-form-field class="form-control">
                <input mdInput placeholder="Tên/Email" ngModel name="username" #username="ngModel" autocomplete="off" required>
            </md-form-field>
            <div class="text-danger" *ngIf="(username.touched || f.submitted) && !username.valid">
                <div *ngIf="username.errors.required">Chưa nhập tên/email</div>
            </div>
        </div>
        <div class="form-group">
            <md-form-field class="form-control">
                <input mdInput placeholder="Mật khẩu"  ngModel name="password" #password="ngModel" type="password" autocomplete="off" required>
            </md-form-field>
            <div class="text-danger" *ngIf="(password.touched || f.submitted) && !password.valid">
                <div *ngIf="password.errors.required">Chưa nhập mật khẩu</div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6"></div>
                <div class="col-sm-6 text-right">
                    <button md-raised-button color="primary" type="submit">Đăng nhập</button>
                </div>
            </div>
        </div>
    </form>
</div>