<!DOCTYPE html>
<html>
<head>
    <title>         
    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    
    <script type="text/javascript">var user = {};</script>     
    <script>var cmsprefix= '<$ cmsprefix $>'</script>
    <script>var settings= <$ settings | dump | safe  $></script>

    <% asyncEach asset in adminassets.css %>
        <link rel="stylesheet" href="<$ asset $>"/>
    <% endeach %>
</head>
    <body class="ng-cloak hold-transition login-page">
        <% block content %>
        <% endblock %>
        <% asyncEach asset in adminassets.js %>
            <script src="<$ asset $>"></script>
        <% endeach %>
    </body>
</html>