#mod-category .image-upload{
    max-width: 200px;
    max-height: 200px;
    border: 1px solid green;
    margin-top: 10px;
}
#mod-category .btn-remove-img{
    color: red;
    display: block;
}
#mod-category .img-count{
    margin-top: 5px;
    margin-left: 5px;
}

#mod-category .image-cate{
    max-width: 100px;
}