<div class="item transition" [ngClass]="{'is-open': isOpenSubmenu}" [ngStyle]="{'height.px': heightItem}">
    <a md-button class="el-item" *ngIf="data.child && data.child.length > 0" (click)="openSubmenu($event)" routerLinkActive="active">
        <i class="material-icons icon" *ngIf="data.extra.icon">{{data.extra.icon}}</i>
        {{data.title}}
        <b class="material-icons arrows transition" *ngIf="data.child && data.child.length > 0">keyboard_arrow_down</b>
    </a>
    <a md-button class="el-item" *ngIf="!data.child || data.child.length == 0" [routerLink]="[data.route]" [queryParams]="{ page: page, limit: limit}" routerLinkActive="active">
        <i class="material-icons icon" *ngIf="data.extra.icon">{{data.extra.icon}}</i>
        {{data.title}}
    </a>
    <ul class="sub-item" *ngIf="data.child && data.child.length > 0">
        <li class="item" *ngFor="let subMenu of data.child">
            <a md-button class="el-item">
                {{subMenu.title}}
            </a>
        </li>
    </ul>
</div>

