/****************************************************************************************
Description: Base
*****************************************************************************************/

@-ms-viewport {
    width: auto !important;
}

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

table {
    th {
        padding: 3px;
        border: 1px solid $table-border-color;
    }
    td {
        padding: 3px;
        border: 1px solid $table-border-color;
    }
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

