#mod-product-list{
	.banner{
		text-align: center;
		position: relative;
		img{
			width: 100%;
		}
		span{
			@include font($fontR,24px,#fff,500);
		}
		.title-name{
			position: absolute;
			left: 0;
			right: 0;
			top: 100px;
		}
		.title{
			@include font($fontR,56px,#fff,500);
		}
	}
	.r-logo{
		padding-left: 25px;
	}
	.menu-logo{
		background:#f4f4f4;
		a:hover{
			text-decoration: none;
		}
		.all{
			@include font($fontR,18px,#222,400);
			padding:18px 20px 10px;
			float: left;
			&.all:hover, &.all.active{
				opacity:1;
				background:#dfdfdf;
			}
		}
		.icon-logo{
			padding: 10px 15px;
			opacity: 0.2;
			&:hover, &.active,{
				opacity:1;
				background:#dfdfdf;
			}
		}

	}
	.ct-moto{
		padding-top: 80px;
		margin:0;
	}
	.moto{
		position: relative;
		padding-top: 170px;
		border-bottom: solid 1px #fcfcfc;
		p{
			position: absolute;
			@include font($fontR,20px,#333);
			left:50px;
			top:0;
		}
		a{
			position: absolute;
			@include font($fontR,16px,#fff);
			padding: 5px 22px;
			background: #000;
			border-radius: 5px;
			left: 50px;
			top: 63px;
			display: none;
		}
		img{
			max-width: 100%;
		}
		&:hover{
			a{
				display: inline-block;

			}
		}
	}
	.view-more{
		max-width: 160px;
		margin: auto;
		border: solid 1px #ff9249;
		text-align: center;
		margin-bottom: 80px;
		border-radius: 5px;
		padding: 5px;
		a{
			@include font($fontR,18px,#ff9249);
		}
	}
}
.tooltip-inner{
	margin-top: 16px;
	
}
.tooltip.tooltip-bottom .tooltip-inner::before, .tooltip.bs-tether-element-attached-top .tooltip-inner::before{
	top:16px;
}
@media only screen and(max-width: 908px){
	#mod-product-list{
		.title-name{
			span{
				font-size: 20px;
			}
			.title{
				font-size: 30px;
			}
		}
	}
}
@media only screen and(max-width: 722px){
	#mod-product-list{
		.title-name{
			top:40px !important;
		}
	}
}
@media only screen and(max-width: 444px){
	#mod-product-list{
		.title-name{
			top:15px !important;
			span{
				font-size: 16px;
			}
			.title{
				font-size: 24px;
			}
		}
	}
}
@media only screen and(max-width: 444px){
	#mod-product-list{
		.title-name{
			span{
				font-size: 16px;
			}
			.title{
				font-size: 24px;
			}
		}
	}
}
@media only screen and(max-width: 555px){
	#mod-product-list{
		.moto{
			p,a{
				font-size: 14px;
			}
		}
	}
}