<div id="mod-banner">
	<div class="container">
		<div id="slider-home" class="max-height">
			<div class="list-iem ">
				<div class="item show-desktop" style="background:url(assets/images/img-banner.png) center top no-repeat; background-size: cover; height: 480px;">
					<div class="intro">
						<img src="assets/images/img-intro.png">
					</div>
				</div>	
				<div class="item show-desktop" style="background:url(assets/images/img-banner.png) center top no-repeat; background-size: cover; height: 480px;">
					<div class="intro">
						<img src="assets/images/img-intro.png">
					</div>
				</div>		
			</div>		
		</div>
	</div>
</div>