
<div class="mod-banner-buy">
	<div class="container">
		<div id="slider-home" class="max-height">
			<div class="list-item  ">
				<div class="item show-desktop " >
					<h1>XE BÁN CHẠY</h1>
					<div class="ct-moto">
						<div class="moto moto-1" style="background: url('assets/images/moto-1.png') center center no-repeat;">
							<p><b>HONDA</b> CB 500F <br>đ 60,000,000</p>
							<img src="assets/images/moto-1.png" class="opacity img-responsive">
						</div>
						<div class="moto moto-2" style="background: url('assets/images/moto-2.png') center center no-repeat;">
							<p><b>BRIXTON</b> BX 125 <br>đ 60,000,000</p>
							<img src="assets/images/moto-1.png" class="opacity img-responsive">
						</div>

						<div class="moto moto-1" style="background: url('assets/images/moto-1.png') center center no-repeat;">
							<p><b>HONDA</b> CB 500F <br>đ 60,000,000</p>
							<img src="assets/images/moto-1.png" class="opacity img-responsive">
						</div>
						<div class="moto moto-2" style="background: url('assets/images/moto-2.png') center center no-repeat;">
							<p><b>BRIXTON</b> BX 125 <br>đ 60,000,000</p>
							<img src="assets/images/moto-1.png" class="opacity img-responsive">
						</div>
						
					</div>
					<div class="border-bot"></div>
				</div>	
			<!-- <div class="item show-desktop " >
				<h1>XE BÁN CHẠY</h1>
				<div class="ct-moto">
					<div class="moto moto-1" style="background: url('assets/images/moto-1.png') center center no-repeat;">
						<p><b>HONDA</b> CB 500F <br>đ 60,000,000</p>
						<img src="assets/images/moto-1.png" class="opacity">
					</div>
					<div class="moto moto-2" style="background: url('assets/images/moto-2.png') center center no-repeat;">
						<p><b>BRIXTON</b> BX 125 <br>đ 60,000,000</p>
						<img src="assets/images/moto-1.png" class="opacity">
					</div>
					<div class="clearfix"></div>
				</div>
			</div> -->	
			<!-- <div class="item show-desktop  container" >
				<div class="intro">
					<img src="assets/images/img-intro.png">
				</div>
			</div> -->		
		</div>		
	</div>
</div>
</div>