<div id="mod-banner-gen">
	<div class="container">
		<div id="slider-home" class="max-height">
			<div class="list-item">
				<div data-thumb="NAKE" class="item show-desktop">
					<div  class="moto moto-1" style="background: url('assets/images/moto-nake.png') center center no-repeat;">
						<img src="assets/images/moto-nake.png" class="opacity">
					</div>
					<label for="">NAKE</label>
					<span>Racetrack performance refined for the road <br><a href="">Xem tất cả xe Nake > </a></span>
				</div>
				<div data-thumb="SPORT" class="item show-desktop " >
					<div  class="moto moto-1" style="background: url('assets/images/moto-nake.png') center center no-repeat;">
						<img src="assets/images/moto-nake.png" class="opacity">
					</div>
					<label for="">NAKE</label>
					<span>Racetrack performance refined for the road <br><a href="">Xem tất cả xe Nake > </a></span>
				</div>
				<div data-thumb="TOURING" class="item show-desktop " >
					<div  class="moto moto-1" style="background: url('assets/images/moto-nake.png') center center no-repeat;">
						<img src="assets/images/moto-nake.png" class="opacity">
					</div>
					<label for="">NAKE</label>
					<span>Racetrack performance refined for the road <br><a href="">Xem tất cả xe Nake > </a></span>
				</div>
				<div data-thumb="CLASSIC" class="item show-desktop " >
					<div  class="moto moto-1" style="background: url('assets/images/moto-nake.png') center center no-repeat;">
						<img src="assets/images/moto-nake.png" class="opacity">
					</div>
					<label for="">NAKE</label>
					<span>Racetrack performance refined for the road <br><a href="">Xem tất cả xe Nake > </a></span>
				</div>
				<div data-thumb="SCOOTER" class="item show-desktop " >
					<div  class="moto moto-1" style="background: url('assets/images/moto-nake.png') center center no-repeat;">
						<img src="assets/images/moto-nake.png" class="opacity">
					</div>
					<label for="">NAKE</label>
					<span>Racetrack performance refined for the road <br><a href="">Xem tất cả xe Nake</a></span>
				</div>
			</div>
		</div>
	</div>
</div>