<title><$ meta.title $></title>
<meta name="title" content="<$meta.title $>">
<meta name="description" content="<$meta.description $>">
<meta charset="utf-8">
<link type="image/x-icon" href="/assets/images/favicon.ico" rel="icon">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script>document.write('<base href="' + document.location.origin + '" />');</script>
<script>var settings= <$ settings | dump | safe  $></script>
<script>var cmsname= '<$ cmsName $>' ;</script>

<% asyncEach asset in assets.css %>
  <link rel="stylesheet" href="<$ asset $>" />
<% endeach %>
