<!-- Desktop Menu -->
<div id="mod-menu">
	<div class="container">
		<div class="menu-desk">
			<div class="menu-top">
				<div class="logo">
					<img src="assets/images/logo.png" alt="">
				</div>
				<div class="input-group search">
					<input type="text" class="form-control" placeholder="Tìm xe theo hãng và tên xe… ">
				</div>
				<ul>
					<li class="mega"><a href="/"><span>Tin tức và khuyến mãi</span></a>
					</li>
					<li class="list"><a href="about"><span>Tra cứu đơn hàng</span></a>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="menu-gender">
		<div class="container">
			<ul>
				<li><a href="">NAKE</a></li>
				<li><a href="">SPORT</a></li>
				<li><a href="">TOURING</a></li>
				<li><a href="">CLASSIC</a></li>
				<li><a href="">SCOOTER</a></li>

			</ul>
				<div class="clearfix"></div>
		</div>
	</div>
</div>

<!-- End: Desktop Menu -->
<!-- Mobile Menu -->
<div class="menu-overlay"></div>
<div id="mod-menu-mob">
	<div class="pull-menu is-close">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>
	<div class="clearfix"></div>
</div>
<!-- End: Mobile Menu -->
