.multiselect__tag{
    background-color: #2b982b;
    margin-bottom: 0px;
    border-radius: 3px;
    padding: 7px 26px 7px 10px;
    margin-right: 5px;
}

.multiselect__tags{
    padding: 5px 40px 0 5px;
}
.multiselect__tag-icon{
    top: 3px;
}