#mod-sidebar{
    color: #fff;
    position: relative;
    order: 1;
    flex: 1 auto;
    width: 180px;
    overflow: hidden;
    .fake-bg{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -100;
    }
    .fake-sidebar-bg{
        position: fixed;
        left: 0;
        top: 0;
        width: 180px;
        height: 100%;
        z-index: -99;
        background-color: rgba(0,0,0,.5);
    }
    .content-sidebar{
        .header{
            font-size: 24px;
            font-family: Roboto,sans-serif;
            line-height: 60px;
            box-shadow: 2px 0 3px rgba(0,0,0,.5);
        }
        .list-item{
            padding: 18px 0 0;
        }
        .item{
            display: block;
            padding-left: 52px;
            a{
                color: white;
                text-decoration: none;
            }
        }
        .item.active{
            background-color: #209e91;
            color: white;
        }
        .item:hover{
            a{
                color: #209e91;
            }
        }
    }
}