<aside ng-if="showSidebar" id="mod-sidebar">
    <div class="fake-bg" style="background: url('assets/dist/images/blur-bg.jpg') no-repeat;"></div>
    <div class="fake-sidebar-bg"></div>
    <div class="content-sidebar">
        <div class="header text-center">
            <app-icon></app-icon>
            Admin
        </div>
        <div class="list-item">
            <ul>
                <li class="item">
                    <a href="" >sdgsd g</a>
                </li>
            </ul>
        </div>
    </div>
</aside>