<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Admin</title>
</head>
<body>
    <div class="container-fluid">
        <app-root></app-root>
    </div>

{{ script('assets/dist/admin/inline.bundle.js') }}
{{ script('assets/dist/admin/polyfills.bundle.js') }}
{{ script('assets/dist/admin/styles.bundle.js') }}
{{ script('assets/dist/admin/vendor.bundle.js') }}
{{ script('assets/dist/admin/main.bundle.js') }}
</html>