<% extends 'admin/layouts/layout.html' %>

<% block content %>
<section class="content">
    <div class="container-fluid" id="vue-basic-3">
        <div class="block-header">
            <h2>BASIC VUE</h2>
        </div>
        <div class="row clearfix">
            <div class="col-xs-12">
                <div class="card">
                    <div class="body">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<% endblock %>