<% extends 'admin/layouts/layout.html' %>

<% block content %>
<section class="content">
    <div class="container-fluid" id="vue-basic-2">
        <div class="block-header">
            <h2>BASIC VUE</h2>
        </div>
        <div class="row clearfix">
            <div class="col-xs-12">
                <div class="card">
                    <div class="body">
                        <message title="Hello" body="Lorem ipsum dolor sit amet, consectetur adipiscing elit"></message>
                        <h2>All Tasks</h2>
                        <!--v-if="task.completed"-->
                        <task-list></task-list>
                        <h2>Incomplete Tasks</h2>
                        <ul class="list-group">
                            <li v-for="task in incompleteTasks" v-text="task.description" class="list-group-item"></li>
                        </ul>
                    </div>
                    <!--<input type="checkbox" id="basic_checkbox_2" class="filled-in" checked />
                    <label for="basic_checkbox_2">Filled In</label>-->
                </div>

                <div class="card">
                    <div class="body">
                        <tabs>
                            <tab name="About us"  :selected="true">
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                            </tab>
                            <tab name="About Our Culture">
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                            </tab>
                            <tab name="About Our Vision">
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                            </tab>
                        </tabs>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<% endblock %>