<% extends 'admin/layouts/layout.html' %>

<% block content %>
<section class="content">
    <div class="container-fluid" id="vue-basic-3">
        <div class="block-header">
            <h2>BASIC VUE</h2>
        </div>
        <div class="row clearfix">
            <div class="col-xs-12">
                <div class="card">
                    <div class="body">
                        <template-demo>
                            <div slot="header">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius fugiat eos excepturi voluptates provident optio ad eaque earum aliquid doloribus, ea ipsam molestias enim, vero eveniet maxime. Vel, tempora, fugiat.</div>
                            asfa bfajsb fjb
                        </template-demo>

                        <coupon @applied="onCouponApplied"></coupon>
                        <p v-if="couponApplied">Used</p>

                        <progress-view inline-template>
                            <div>
                                <h1>JBF jasfbajsbfj asfb ajfb {{completionRate}}</h1>
                                <button class="btn btn-primary waves-effect" @click="completionRate -= 10">Subtract</button>
                                <button class="btn btn-primary waves-effect" @click="completionRate += 10">Add</button>
                            </div>
                        </progress-view>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<% endblock %>