<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image" style="cursor: pointer;">
                <img src="assets/admin/images/avatar.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p><a>[[pageMethods.authSvc.getProfile().name]]</a></p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <p style="text-align: center;cursor: pointer;" ng-click="pageMethods.authSvc.popChangePass()"> <span class="glyphicon glyphicon-lock" style="color:#b8c7ce;"></span><a> Đổi mật khẩu</a></p>
        <ul class="sidebar-menu">

            <li class="header" style="font-size: 13px;">Dashboard</li>
            {{> admin/partials/menu-left/dashboard}}

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>