<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image" style="cursor: pointer;">
                <img src="assets/admin/images/avatar.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p><a>[[pageMethods.authSvc.getProfile().name]]</a></p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <p style="text-align: center;cursor: pointer;" ng-click="pageMethods.authSvc.popChangePass()"> <span class="glyphicon glyphicon-lock" style="color:#b8c7ce;"></span><a> Đổi mật khẩu</a></p>
        <ul class="sidebar-menu">

            <li class="header" style="font-size: 13px;">Dashboard</li>
            {{> admin/partials/menu-left/dashboard}}

            <li class="header" style="font-size: 13px;">Quản lý sản phẩm</li>
            {{> admin/partials/menu-left/product}}
            {{> admin/partials/menu-left/category}}
            {{> admin/partials/menu-left/tagProcessing}}
            {{> admin/partials/menu-left/import-product}}
            {{> admin/partials/menu-left/unit}}
            {{> admin/partials/menu-left/certificate}}
            {{> admin/partials/menu-left/promotion}}
            {{> admin/partials/menu-left/supplier}}

            <li class="header" style="font-size: 13px;">Quản lý đặt hàng</li>
            {{> admin/partials/menu-left/order}}
            {{> admin/partials/menu-left/shippingfee}}

            <li class="header" style="font-size: 13px;">Báo cáo</li>
            {{> admin/partials/menu-left/report-order}}
            {{> admin/partials/menu-left/report-product-order}}
            {{> admin/partials/menu-left/report-product-a-day}}

            <li class="header" style="font-size: 13px;">Quản lý khuyến mãi</li>
            {{> admin/partials/menu-left/coupon}}
            {{> admin/partials/menu-left/coupon-group}}
            {{> admin/partials/menu-left/banner}}
            {{> admin/partials/menu-left/tagProduct}}

            <li class="header" style="font-size: 13px;">Quản lý bài viết</li>
            {{> admin/partials/menu-left/blog}}

            <li class="header" style="font-size: 13px;">Quản lý tag</li>
            {{> admin/partials/menu-left/tag}}

            <li class="header" style="font-size: 13px;">User</li>
            {{> admin/partials/menu-left/user}}
            {{> admin/partials/menu-left/permission}}

            <li class="header" style="font-size: 13px;">Quản lý website</li>
            {{> admin/partials/menu-left/search}}
            {{> admin/partials/menu-left/config}}
            {{> admin/partials/menu-left/log}}

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>