
#mod-header-exercice-1{
    background: white;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.31);
    color: var(--e1-color-2);
    padding: 0;
    overflow: visible;
    @include position(fixed, 0, null, null, 0, 10);
    @include sizeEx(100%, 86px);
    .container{
        display: flex;
        justify-content: space-between;
    }
    .left-side{
        font-weight: 700;
        display: flex;
        align-items: center;
        p{
            text-transform: uppercase;
            font-size: 38px;
        }
        .blue{
            font-size: 38px;
            color: var(--e1-color-3);
        }
    }
    .right-side{
        .menu-section{
            margin-right: 95px;
        }
        .menu{
            font-size: 0;
        }
        .item{
            display: inline-block;;
            @include position(relative);
        }
        .item-link{
            @include font(null, 18px, var(--e1-color-2));
            display: inline-block;
            padding: 30px 1rem;
        }
        .item:hover{
            .item-link{
                background-color: #cf1a2b;
                color: white;
                opacity: 1;
            }
            .sub-menu{
                transform: rotateX(0deg);
            }
        }
        .logo{
            text-transform: uppercase;
            padding: 0;
            margin: 10px 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            @include font(null, 38px, white, 700);
            .pink{
                @include font(null, 38px, #fec8cd, 700);
            }
        }
        .sub-item.logo-item{
            padding: 0;
        }
        .image{
            display: flex;
            justify-content: center;
            margin-top: 50px;
        }
        .sub-menu{
            transform: rotateX(90deg);
            transform-origin: 0 0;
            @include position(absolute, 86px, null, null, 0, 10);
            @include font(null, 16px, white);
        }
        .content-sub-menu{
            display: grid;
            background-color: #cf1a2b;
            grid-template-columns: repeat(3, 200px);
            grid-gap: 0px;
        }
        .sub-item{
            border-right: 1px solid rgba(255, 255, 255, 0.2);
            padding-left: 35px;
            padding: 12.5px 0 25px 35px;
            a{
                padding: 12.5px 0 0;
                opacity: 0.72;
                display: inline-block;
                color: white;
            }
            a:hover{
                opacity: 1;
            }
        }
        .fake-bottom{
            background: white;
            opacity: 0.2;
            @include position(absolute, null, null, 0, 0);
            @include sizeEx(100%, 1px);
        }
        .cart{
            @include font(null, 24px, #9d9d9d);
            cursor: pointer;
            .cart-icon,.arrow-icon{
                @include position(relative);
            }
            .cart-icon{
                margin-right: 5px;
                top: -5px;
            }
            .arrow-icon{
                margin-left: 10px;
                top: -2px;
            }
        }
    }
}
#mod-exercice-1{
    padding-top: 86px;
    #banner{
        padding-top: 86px;
        background: url("/assets/dist/web/images/learn-1/background-banner.jpg") center center no-repeat ;
        background-size: cover;
        height: 100vh;
        color: white;
        text-transform: uppercase;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.34);
        max-height: 800px;
        h3{
            letter-spacing: 29.1px;
            font-family: null;
            font-size: 22px;
            margin-bottom: 30px;
        }
        h4{
            font-family: Impact;
            font-size: 116px;
            line-height: 1;
        }
        .swiper-wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .swiper-button-prev{
            background-image: url('/assets/dist/web/images/learn-1/icon-slider-left.png');
            left: 35px;
        }
        .swiper-button-next{
            background-image: url('/assets/dist/web/images/learn-1/icon-slider-right.png');
            right: 35px;
        }
        .swiper-button-prev, .swiper-button-next{
            margin-top: -85px;
            @include sizeEx(43px, 149px);
            background-size: 43px 149px;
        }
    }
    #shirts{
        padding: 47.5px;
        .list{
            display: grid;
            grid-template-columns: repeat(4, 25%);
            grid-gap: 15px;
            grid-template-rows: 250px;
        }
        .item{
            padding: 25px 30px;
            text-transform: uppercase;
            color: white;
            position: relative;
            .header{
                font-size: 30px;
            }
            .text{
                font-size: 22px;
            }
            .price{
                position: absolute;
                @include position(absolute, null, null, 22.5px, 30px);
                @include font(Helvetica, 36px, rgba(0, 0, 0, 0.5), bold);
            }
            .shirts-image{
                @include position(absolute, null, 0, 0, null);
            }
        }
        .item-1{
            background: var(--e1-color-1);
            .header{
                margin-bottom: 30px;
            }
        }
        .item-2{
            background: #e4ce9a;
        }
        .item-3{
            background: #ffa7ce;
            .text{
                font-size: 16px;
            }
            .price{
                color: #414049;
            }
        }
        .item-4{
            background: #f2ca66;
            font-weight: bold;
            padding-top: 15px;
            .header{
                font-size: 100px;
                margin-bottom: 0;
                transform: rotate3d(1,0,0,180deg)
            }
            .text{
                font-size: 70px;
            }
            .price{
                background: white;
                @include font(null, 20px, #f2ca66, null);
                padding: 10px 15px;
                display: block;
                bottom: 12.5px;
                left: 0;
            }
        }
    }
    #categories{
        background: url("/assets/dist/web/images/learn-1/background-shirts.jpg") center center no-repeat;
        background-size: cover;
        min-height: 560px;
        padding-top: 65px;
        padding-bottom: 115px;
        overflow: hidden;
        h4{
            @include font(null, 116px, white, 400);
            text-transform: uppercase;
        }
        .list{
            padding-top: 95px;
            font-size: 0;
            margin: 0 -7.5%;
        }
        .item{
            display: inline-block;
            width: 13.35%;
            position: relative;
            // opacity: 0.7;
        }
        .circle{
            img{
                width: 100%;
            }
        }
        .item-2{
            transform: translateY(-15%);
            margin-left: -1.6%;
        }
        .item-3{
            transform: translateY(20%);
            margin-left: -3%;
        }
        .item-4{
            transform: translateY(-10%);
            margin-left: -2%;
        }
        .item-5{
            transform: translateY(5%);
            margin-left: -2%;
        }
        .item-6{
            transform: translateY(21.25%);
            margin-left: -1.6%;
        }
        .item-7{
            transform: translateY(-8%);
            margin-left: -3%;
        }
        .item-8{
            transform: translateY(35%);
            margin-left: -3%;
        }
        .item-9{
            transform: translateY(-18%);
            margin-left: -4%;
        }
    }
    #jeans{
        font-size: 12px;
        line-height: 20px;
        h3{
            @include font(null, 50px, #1d1d1d, 700);
            margin-bottom: 25px;
        }
        .content-top{
            margin-bottom: 55px;
        }
        .img-levi{
            max-width: 100%;
            margin-top: -17px;
            margin-bottom: 55px;
        }
        .content{
            margin-bottom: 30px;
            line-height: 20px;
        }
        .rate{
            @include font(null, 36px, #1d1d1d);
            display: inline-block;
            vertical-align: bottom;
            margin-right: 90px;
            p{
                margin: 0;
                line-height: 1;
            }
        }
        .image-right{
            margin-top: 20px;
        }
        .add-to-cart{
            background-color: #d62132;
            display: inline-block;
            @include font(null, 28px, white);
            border-radius: 0;
            img{
                margin-top: -10px;
            }
        }
        .content-bottom{
            display: flex;
            margin: 0 -13px;
        }
        .item{
            padding: 0 13px;
            opacity: 0.88;
            @include font(null, 16px, #1d1d1d);
            img{
                border: 1px solid #c5c5c5;
                margin-bottom: 15px;
            }
        }
        .item:hover{
            img{
                border: 1px solid #ff7582;
            }
        }
    }
}
#mod-footer-exercice-1{
    background-color: #1b2330;
    padding: 25px 0 20px;
    p{
        margin-bottom: 0;
    }
    .header{
        text-transform: uppercase;
        color: var(--e1-color-2);
        font-size: 38px;
        line-height: 1;
        margin-bottom: 15px;
    }
    .blue{
        @include font(null, null, var(--e1-color-3),700);
    }
    .content{
        @include font(null, 1rem, #ffffff);
        opacity: 0.5;
    }
}