#mod-header-exercice-2{
    padding: 45px 0 40px;
    font-family: "Roboto Slab";
    width: 100%;
    @include position(fixed, 0, null, null, 0, 2);
    background: white;
    .left-content{
        .header{
            @include font(null, 36px, #31353e,700);
            line-height: 1;
        }
        .content{
            color: #dd4b2b;
            letter-spacing: 0.96px;
        }
    }
    .right-content{
        @include font(null, 18px, #31353e);
        ul{

        }
        li{
            display: inline;
        }
        .item{
            padding: 10px 17.5px;
            display: inline-block;
            color: #31353e;
            border-radius: 50px;
        }
        .item:hover,.item.active{
            color: white;
            background-color: #dd4b2b;
        }
    }
}
#mod-exercice-2{
    margin-top: 150px;
    font-family: Montserrat;
    #modal-show{
        background: rgba(0, 0, 0, 0.8);
        .v--modal{
            box-shadow: 0 0 55px rgba(0, 0, 0, 0.35);
            border-radius: 5px;
            background-color: #ffffff;
            overflow: visible;
            position: relative;
            padding: 277.5px 10px 90px;
            margin-top: 60px;
        }
        .image-section{
            @include position(absolute, 0, null, null, 50%);
            transform: translate(-50%, -50%);
            width: 100%;
            max-width: 483px;
        }
        .header-popup{
            @include font(null, 48px, #d52c40);
            margin-bottom: 20px;
        }
        .thank{
            @include font(null, 24px, #b9bcd1);
            margin-bottom: 85px;
        }
        .btn{
            @include font(null, 24px, white);
            height: 90px;
            max-width: 290px;
            border-radius: 5px;
            background-color: #eb304d;
            width: 100%;
            padding: 25px 0;
        }
    }
    #banner{
        background: url("/assets/dist/web/images/learn-2/banner-bg.jpg") center center no-repeat;
        background-size: cover;
        min-height: 1321px;
        display: flex;
        flex-direction: column-reverse;
        @include font("Roboto Slab", null, white);
        .header{
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
            margin-bottom: 130px;
            h1{
                font-size: 72px;
            }
            p{
                font-size: 30px;
            }
        }
        .list{
            margin-bottom: 77.5px;
        }
        .item{
            .image{
                margin-bottom: 36px;
            }
            .introduce{
                font-family: "Roboto Slab";
                font-weight: 700;
                margin-bottom: 27.5px;
            }
            .content{
                @include font(Roboto, 15px, null, 300);
                line-height: 30px;
            }
        }
        .btn-section{
            margin-bottom: 137.5px;
            .btn{
                border-radius: 27px;
                border: 1px solid white;
                background-color: #ffffff;
                padding: 10px 60px;
                @include font(null, 18px, #612316);
                line-height: 30px;
            }
            .btn:hover{
                background-color: rgba($color: white, $alpha: 0.5);
            }
        }
    }
    #news{
        @include font("Roboto Slab", null, #31353e);
        padding: 82.5px 0 40px;;
        background: #edeff1;
        h3.header{
            @include font(null, 30px, null, 700);
            margin-bottom: 85px;
        }
        .item{
            margin-bottom: 15px;
            .img{
                margin-bottom: 40px;
            }
            .head{
                @include font(null, 24px, null, 700);
            }
            .text{
                @include font(Roboto, 15px, null);
                line-height: 30px;
                margin-bottom: 37.5px;
            }
            .btn-section{
                .btn{
                    border-radius: 27px;
                    border: 1px solid rgba(255, 255, 255, 0.5);
                    background-color: #ffffff;
                    line-height: 30px;
                    padding: 10px;
                    width: 100%;
                    max-width: 180px;
                    @include font(Roboto, 15px, #4e5159, 300);
                }
            }
        }
    }
    #newsletter{
        background: url("/assets/dist/web/images/learn-2/newletters-bg.jpg") center center no-repeat;
        padding: 50px 0 60px;
        @include font("Roboto Slab", null, white);
        .container{
            max-width: 530px;
        }
        h3{
            margin-bottom: 22.5px;
        }
        .content{
            margin-bottom: 40px;
            @include font(Roboto, 15px, null);
        }
        .form-group{
            /* Style for "Rounded Re" */
            max-width: 512.5px;
            position: relative;
            /* Style for "email adre" */
        }
        .input-text{
            border: none;
            width: 100%;
            border-radius: 27px;
            border: 1px solid rgba(255, 255, 255, 0.5);
            background-color: rgba($color: #ffffff, $alpha: 0.1);
            padding: 10px 30px;
            @include font("Roboto Slab", 18px, #f3f4f6);
            line-height: 30px;
        }
        .input-text:focus{
            outline: none;
        }
        .input-submit{
            @include position(absolute, 0, 0);
            height: 100%;
            background: white;
            @include font("Roboto Slab", 18px, #612316);
            border: none;
            border-radius: 27px;
            padding: 0 75px;
            cursor: pointer;
        }
    }
    #register{
        padding: 65px 0 31.5px;
        .container{
            max-width: 1285px;
            width: 100%;
        }
        .content{
            padding-top: 52.5px;
            @include font(Roboto, 1rem, #191b29, 300);
        }
        .list{
            margin-bottom: 52.5px;
        }
        .list-1{
            .content{
                padding-left: 45px;
                padding-right: 62.5px;
            }
        }
        .list-2{
            .content{
            }
            .img{
                padding-right: 45px;
            }
        }
        .item{
            padding: 0;
        }
        .header{
            line-height: 48px;
            @include font("Roboto Slab", 30px, null);
        }
        .btn-orange{
            border: 1px solid #dd4b2b;
            background-color: #dd4b2b;
        }
        .btn-purple{
            border: 1px solid #4b4e73;
            background-color: #4b4e73;
        }
        .btn{
            max-width: 220px;
            height: 55px;
            border-radius: 27px;
            @include font("Roboto Slab", 18px, white);
            line-height: 39px;
            display: block;
        }
        .btn.btn-orange:hover{
            background-color:  rgba($color: #dd4b2b, $alpha: 0.5);
        }
        .btn.btn-purple:hover{
            background-color:  rgba($color: #4b4e73, $alpha: 0.5);
        }
        .btn-section{
            margin-top: 35px;
        }
    }
}
#mod-footer-exercice-2{
    a{
        @include font(Roboto, 18px, white);
        line-height: 36px;
    }
    .top-section{
        padding: 100px 0;
        background-color: #d75d0e;
    }
    .bg-image{
        background: url('/assets/dist/web/images/learn-2/footer-bg.jpg');
        width: 100%;
        height: 30px;
    }
}