#mod-home{
  .facebook-news{
    .item{
        padding: 15px;
        max-height: 500px;
        overflow-y: auto;
    }
    .item-news{
      padding-left: 140px;
      margin-bottom: 15px;
      position: relative;
      min-height: 130px;
      max-height: 160px;
      overflow: hidden;
      p{
        white-space: pre-wrap;
      }
      .thumb-image{
        @include position(absolute, 0, null, null, 0);
      }
      .content{
        cursor: pointer;
      }
    }
    .change-post{
      cursor: pointer;
    }
  }
}