<div class="search overflow-hide" id="search-desk" data-ng-controller="searchCtrl as vmSearch" data-ng-init="init('#search-desk')">
    <form data-ng-submit="submit(formSearch_desk)" name="formSearch_desk" id="formSearch_desk" novalidate>
        <div class="form-group">
            <div class="msg-input" data-ng-class="search_input">
                <input type="text" class="form-control search-input" placeholder="Tìm kiếm sản phẩm" data-ng-model="search" name="search" value="{{search_txt}}" data-ng-change="searchResult(formSearch_desk)" data-ng-focus="showList()" data-ng-blur="hideList()" disabled required>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" data-ng-disabled="formSearch_desk.$submitted">Tìm kiếm</button>
        {{> web/partials/search/search-content}}
    </form>
</div>