<div data-ng-show="search.length > 0" class="search-section hidden" data-ng-class="classSearchList">
    <div data-ng-show="searchTxt.length > 0 || productTxt.length > 0">
        <div class="searching show">
            <div class="searching-content show">
                <div class="text" data-ng-show="searchTxt.length > 0">
                    <a href="" data-ng-repeat="(key, search) in searchTxt track by key" data-ng-click="link(search.keyword)" class="select">[[search.keyword]]</a>
                </div>
                <div class="show-items" data-ng-if="productTxt.length > 0">
                    <a data-ng-href="/san-pham/[[product.slug]]-[[product._id]]" data-ng-repeat="(key, product) in productTxt track by key ">
                        <div class="item select">
                            <div class="image-small">
                                <img data-ng-src="[[checkImgOld(imagesDirectory,product.thumb)]]" class="img-responsive" data-ng-if="product.thumb" src="{{ linkAssets 'frontend/images/category-default-image.png' }}" alt="category-default-image.png">
                            </div>
                            <div class="info-search">
                                <p class="name">[[product.name]]</p>
                                <p class="price">
                                    <span data-ng-if="product.view_unit != ''">
                                        [[product.view_unit]] - 
                                    </span>
                                    <span data-ng-if="product.promotion.status">
                                        <span data-ng-if="product.promotion.type == 'PC'">
                                            <span data-ng-bind="(product.price - (product.price * product.promotion.value) / 100) | currency : '':0"></span>
                                        </span>
                                        <span data-ng-if="product.promotion.type == 'MN'">
                                            <span data-ng-bind="(product.price - product.promotion.value) | currency : '':0"></span>
                                        </span>
                                    </span>
                                    <span data-ng-if="!product.promotion.status">
                                        [[product.price | currency : '':0]]
                                    </span> đ
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div data-ng-show="searchTxt.length == 0 && productTxt.length == 0">
        <div class="searching show">
            <div class="searching-content show">
                <div class="text">
                    <a href="" class="cursor-default">Không tìm thấy kết quả</a>
                </div>
            </div>
        </div>
        <!--</span>-->
    </div>
</div>