.multiselect__tag{
    background-color: $success-color;
    margin-bottom: 0px;
    border-radius: 2px;
    padding: 7px 26px 7px 10px;
    margin-right: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}
.multiselect__tag-icon:focus, .multiselect__tag-icon:hover{
    background: none;
}

.multiselect__tags{
    padding: 5px 40px 0 5px;
    border-radius: 2px;
}
.multiselect__tag-icon{
    top: 3px;
}

.multiselect__input, .multiselect__single{
    border-radius: 2px;
    padding: 5px 0 0 5px;
    width: 100px !important;
}