.vodal-dialog{
    background: none;
    box-shadow: none;
    height: auto !important;
    bottom: inherit;
    .card{
        margin-bottom: 0;
    }
}
.vodal{
    overflow-y: scroll;
}
.vodal-mask{
    @include position(fixed, null, null, 0);
}