<section data-ng-controller="ProductsEditController" id="mod-product" ng-init="findOne()">
    <section class="content-header">
        <h1>Xe</h1>
    </section>
    <!-- Main content -->
    <section class="content">
         <div class="row">
            <form data-ng-submit="submit(formAdd)" novalidate id="formAdd" name="formAdd">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary" value="Thêm">
                                <a href="" class="btn btn-default" data-ui-sref="listProducts({type: 'XE'})">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">Chỉnh sửa xe</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label class="control-label" for="name">Tên</label>
                                        <div class="controls">
                                            <input type="text" data-ng-model="data.name" id="name" name="name" class="form-control" placeholder="Name" ng-change="changeToSlug()"
                                                required>
                                        </div>
                                        <div class="error-messages message" ng-messages="formEdit.name.$error" ng-messages-multiple ng-if="formEdit.$submitted">
                                            <div ng-message="required">Bạn chưa nhập tên xe.</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="control-label" for="slug">Slug</label>
                                        <div class="controls">
                                            <input type="text" data-ng-model="data.slug" id="slug" name="slug" class="form-control" placeholder="Slug" required>
                                        </div>
                                        <div class="error-messages message" ng-messages="formEdit.slug.$error" ng-messages-multiple ng-if="formEdit.$submitted">
                                            <div ng-message="required">Slug không được bỏ trống.</div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="nsx">Ngày sản xuất</label>
                                <div class="controls" style="max-height: 34px; overflow: hidden;">
                                    <input type="text" name="nsx" id="nsx" ng-value="data.nsx | bzFormatDate:'DD/MM/YYYY'" id="datetime-picker" ng-model="data.nsx" class="form-control" placeholder="Ngày sản xuất" single-date-time-picker atr-options="dateTimePickerOpt" ng-if="!loading && data.nsx" required>
                                    <input type="text" name="nsx" id="nsx" id="datetime-picker" ng-model="data.nsx" class="form-control" placeholder="Ngày sản xuất" single-date-time-picker atr-options="dateTimePickerOpt" ng-if="!loading && !data.nsx" required>
                                </div>
                                <div class="error-messages message" ng-messages="formEdit.nsx.$error" ng-messages-multiple ng-if="formEdit.$submitted">
                                    <div ng-message="required">Bạn chưa nhập tên ngày sản xuất.</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label class="control-label" for="model">Model xe</label>
                                        <div class="controls">
                                            <select class="form-control" name="model" id="model" ng-model="data.model" ng-if="listModel" ui-select2 required>
                                                <option value="{{item._id}}" ng-repeat="item in listModel">{{item.name}}</option>
                                            </select>
                                        </div>
                                        <div class="error-messages message" ng-messages="formEdit.model.$error" ng-messages-multiple ng-if="formEdit.$submitted">
                                            <div ng-message="required">Bạn chưa chọn model xe.</div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <label class="control-label" for="meta_title">Tình trạng xe</label>
                                        <div class="controls">
                                            <select class="form-control" name="age_car" id="age_car" ng-model="data.age_car" required>
                                                <option value="new">Mới</option>
                                                <option value="old">Cũ</option>
                                            </select>
                                        </div>
                                        <div class="error-messages message" ng-messages="formEdit.age_car.$error" ng-messages-multiple ng-if="formEdit.$submitted">
                                            <div ng-message="required">Bạn chưa chọn tình trạng xe.</div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="status">Trạng thái</label>
                                <div class="controls">
                                    <select class="form-control" data-ng-model="data.status" id="status" name="status" ng-options="item.value as item.name for item in statuses"
                                        required>
                                    </select>
                                </div>
                                <div class="error-messages message" ng-messages="formEdit.status.$error" ng-messages-multiple ng-if="formEdit.$submitted">
                                    <div ng-message="required">Bạn chưa chọn trạng thái.</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label class="control-label" for="meta_title">Nhà sản xuất</label>
                                        <div class="controls">
                                            <select class="form-control" name="brand" id="brand" ng-model="data.brand" ng-if="listBrand" ui-select2 required>
                                                <option value="{{item._id}}" ng-repeat="item in listBrand">{{item.name}}</option>
                                            </select>
                                        </div>
                                        <div class="error-messages message" ng-messages="formEdit.brand.$error" ng-messages-multiple ng-if="formEdit.$submitted">
                                            <div ng-message="required">Bạn chưa chọn nhà sản xuất.</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label" for="supplier">Nhà phân phối</label>
                                            <div class="controls">
                                                <select class="form-control" name="supplier" id="supplier" ng-model="data.supplier" ng-if="listSuplier" ui-select2 required>
                                                    <option value="{{item._id}}" ng-repeat="item in listSuplier">{{item.name}}</option>
                                                </select>
                                                <div class="error-messages message" ng-messages="formEdit.supplier.$error" ng-messages-multiple ng-if="formEdit.$submitted">
                                                    <div ng-message="required">Bạn chưa chọn nhà phân phối.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label class="control-label" for="vehical_number">Số khung</label>
                                        <div class="controls">
                                            <input type="text" name="vehical_number" id="vehical_number" ng-model="data.vehical_number" class="form-control" placeholder="Số khung"
                                                required>
                                        </div>
                                        <div class="error-messages message" ng-messages="formEdit.vehical_number.$error" ng-messages-multiple ng-if="formEdit.$submitted">
                                            <div ng-message="required">Bạn chưa nhập số khung.</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="control-label" for="engine_number">Số máy</label>
                                        <div class="controls">
                                            <input type="text" name="engine_number" id="engine_number" ng-model="data.engine_number" class="form-control" placeholder="Số máy"
                                                required>
                                        </div>
                                        <div class="error-messages message" ng-messages="formEdit.engine_number.$error" ng-messages-multiple ng-if="formEdit.$submitted">
                                            <div ng-message="required">Bạn chưa nhập số máy.</div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label class="control-label" for="cc">CC xe</label>
                                        <div class="controls">
                                            <input type="text" name="cc" id="cc" ng-model="data.cc" class="form-control" placeholder="CC xe" required>
                                        </div>
                                        <div class="error-messages message" ng-messages="formEdit.cc.$error" ng-messages-multiple ng-if="formEdit.$submitted">
                                            <div ng-message="required">Bạn chưa nhập CC.</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="control-label" for="odd">Tổng hành trình</label>
                                        <div class="controls">
                                            <input type="text" name="odd" id="odd" ng-model="data.odd" class="form-control" placeholder="Tổng hành trình">
                                        </div>
                                        <div class="error-messages message" ng-messages="formEdit.odd.$error" ng-messages-multiple ng-if="formEdit.$submitted">
                                            <div ng-message="required">Bạn chưa nhập tổng hành trình.</div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label class="control-label" for="price_user">Giá xe cho user</label>
                                        <div class="controls">
                                            <input type="number" name="price_user" id="price_user" ng-model="data.price_user" class="form-control" placeholder="Giá xe cho user"
                                                min="0" required>
                                        </div>
                                        <div class="error-messages message" ng-messages="formEdit.price_user.$error" ng-messages-multiple ng-if="formEdit.$submitted">
                                            <div ng-message="required">Bạn chưa nhập giá xe cho user.</div>
                                            <div ng-message="min">Giá xe không được bé hơn 0.</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="control-label" for="price_agent">Giá xe cho đại lý</label>
                                        <div class="controls">
                                            <input type="number" name="price_agent" id="price_agent" ng-model="data.price_agent" class="form-control" placeholder="Giá xe cho đại lý"
                                                min="0" required>
                                        </div>
                                        <div class="error-messages message" ng-messages="formEdit.price_agent.$error" ng-messages-multiple ng-if="formEdit.$submitted">
                                            <div ng-message="required">Bạn chưa nhập giá xe cho đại lý.</div>
                                            <div ng-message="min">Giá xe không được bé hơn 0.</div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label class="control-label" for="deposit">Tiền cọc (%)</label>
                                        <div class="controls">
                                            <input type="number" name="deposit" id="deposit" ng-model="data.deposit" class="form-control" placeholder="Tiền cọc" min="0"
                                                max="100" required>
                                        </div>
                                        <div class="error-messages message" ng-messages="formEdit.deposit.$error" ng-messages-multiple ng-if="formEdit.$submitted">
                                            <div ng-message="required">Bạn chưa nhập giá xe cho đại lý.</div>
                                            <div ng-message="min">Tiền cọc không được bé hơn 0.</div>
                                            <div ng-message="max">Tiền cọc không được lớn hơn 100.</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="control-label" for="gearup_fee">Chi phí cho GearUp</label>
                                        <div class="controls">
                                            <input type="number" name="gearup_fee" id="gearup_fee" ng-model="data.gearup_fee" class="form-control" placeholder="Chi phí cho GearUp"
                                                min="0" required>
                                        </div>
                                        <div class="error-messages message" ng-messages="formEdit.gearup_fee.$error" ng-messages-multiple ng-if="formEdit.$submitted">
                                            <div ng-message="required">Bạn chưa nhập chi phí cho GearUp.</div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="short_description">Mô tả ngắn</label>
                                <div class="controls">
                                    <textarea rows="4" cols="" data-ng-model="data.short_description" id="short_description" name="short_description" placeholder="Mô tả ngắn"
                                        class="form-control"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="detail_infor">Thông tin chi tiết</label>
                                <div class="controls">
                                    <textarea rows="4" cols="" data-ng-model="data.detail_infor" id="detail_infor" name="detail_infor" placeholder="Mô tả ngắn"
                                        class="form-control"></textarea>
                                </div>
                            </div>

                             <!--Start: Upload Image Section-->
                             <div class="form-group">
                                <label>Màu sắc</label>
                                <div class="table-responsive">
                                    <table class="table no-margin">
                                        <tr>
                                            <th>Tên màu</th>
                                            <th>Mã màu</th>
                                            <th>Hình ảnh</th>
                                            <th>Action</th>
                                        </tr>
                                        <tr ng-repeat="(key,item) in data.color">
                                            <td>
                                                <p ng-show="!dataTmp.color[key].showEdit">{{item.name}}</p>
                                                <input type="text" name="name_color_add" class="form-control" ng-model="dataTmp.color[key].name" ng-show="dataTmp.color[key].showEdit" required>
                                            </td>
                                            <td>
                                                <p ng-show="!dataTmp.color[key].showEdit">{{item.value}}</p>
                                                <input type="text" name="name_color_add" class="form-control" ng-model="dataTmp.color[key].value" ng-show="dataTmp.color[key].showEdit" required>
                                            </td>
                                            <td>
                                                <div class="image-upload-section" ng-show="!dataTmp.color[key].showEdit">
                                                    <img class="image-upload" data-ng-src="{{url + item.image}}" style="cursor: auto;">
                                                </div>
                                                <div class="image-upload-section" ng-show="dataTmp.color[key].showEdit">
                                                    <img class="image-upload" data-ng-src="{{url + dataTmp.color[key].image}}" ngf-select ngf-multiple="false" ngf-change="uploadImage($files,'color',dataTmp.color[key])" alt="">
                                                </div>
                                            </td>
                                            <td>
                                                <div ng-show="!dataTmp.color[key].showEdit">
                                                    <a style="cursor:pointer" title="Edit" ng-click="showEditColor(key)">
                                                        <i class="glyphicon glyphicon-edit"></i>
                                                    </a>&nbsp; &nbsp;
                                                    <a style="cursor:pointer" title="Delete" ng-click="deleteColor(key)">
                                                        <i class="glyphicon glyphicon-trash"></i>
                                                    </a>
                                                </div>
                                                <div ng-show="dataTmp.color[key].showEdit">
                                                    <a style="cursor:pointer" title="Edit" ng-click="editColor(key)">
                                                        <i class="glyphicon glyphicon-edit"></i>
                                                    </a>&nbsp; &nbsp;
                                                    <a style="cursor:pointer" title="Cancle" ng-click="hideEditColor(key)">
                                                        <i class="glyphicon glyphicon-remove"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr ng-if="form_color.showAdd">
                                            <td>
                                                <input type="text" name="name_color_add" class="form-control" ng-model="dataColorAdd.name" required>
                                                <div class="error-messages message" ng-messages="formEdit.name_color_add.$error" ng-messages-multiple ng-if="dataColorAdd.submited">
                                                    <error-message/>
                                                </div>
                                            </td>
                                            <td>
                                                <input type="text" name="value_color_add" class="form-control" ng-model="dataColorAdd.value" required>
                                                <div class="error-messages message" ng-messages="formEdit.value_color_add.$error" ng-messages-multiple ng-if="dataColorAdd.submited">
                                                    <error-message/>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="image-upload-section">
                                                    <a class="form-control" href="" ngf-select ngf-multiple="false" ngf-change="uploadImage($files, 'colorAdd')" data-ng-if="!dataColorAdd.image">
                                                        Upload hình ảnh ...
                                                    </a>
                                                    <img class="image-upload" data-ng-src="{{url + dataColorAdd.image}}" ngf-select ngf-multiple="false" ngf-change="uploadImage($files)" alt="" data-ng-if="dataColorAdd.image">
                                                </div>
                                                <div class="error-messages message" ng-if="dataColorAdd.submited && !dataColorAdd.image">
                                                    <p class="text-red">Chưa upload hình ảnh</p>
                                                </div>
                                            </td>
                                            <td>
                                                <a style="cursor:pointer" title="Add" ng-click="addColor()">
                                                    <i class="glyphicon glyphicon-plus"></i>
                                                </a>&nbsp; &nbsp;
                                                <a style="cursor:pointer" title="Cancle" ng-click="hideAddColor()">
                                                    <i class="glyphicon glyphicon-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <a class="btn btn-primary" style="cursor:pointer" ng-click="showAddColor()" ng-if="!form_color.showAdd">
                                    <i class="glyphicon glyphicon-plus"></i>Thêm màu
                                </a>
                            </div>

                            <div class="form-group">
                                <!--<div class="row">
                                    <div class="col-md-6">-->
                                        <label>Hình thumb</label>
                                        <div class="image-upload-section">
                                            <a class="form-control" href="" ngf-select ngf-multiple="false" ngf-change="uploadImage($files, 'thumb')" data-ng-if="!data.thumb.url">
                                                Upload thumb ...
                                            </a>
                                            <img class="image-upload" data-ng-src="{{url + data.thumb.url}}" ngf-select ngf-multiple="false" ngf-change="uploadImage($files, 'thumb')"
                                                alt="" data-ng-if="data.thumb.url">
                                        </div>
                                    <!--</div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Hình banner</label>
                                            <div class="image-upload-section">
                                                <a class="form-control" href="" ngf-select ngf-multiple="false" ngf-change="uploadImage($files, 'banner')" data-ng-if="!data.banner.url">
                                                    Upload banner ...
                                                </a>
                                                <img class="image-upload" data-ng-src="{{url + data.banner.url}}" ngf-select ngf-multiple="false" ngf-change="uploadImage($files, 'banner')"
                                                    alt="" data-ng-if="data.banner.url">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>-->
                            </div>

                            <div class="form-group">
                                <div class="row"></div>
                                <label>Galery</label>
                                <div class="image-upload-section">
                                     <span ng-repeat="(key, value) in data.gallery" class="image-item">
                                        <img ng-src="{{url + value.url}}" alt="">
                                        <a href="" data-ng-click="removeImage(key,'gallery', value.url);" class="btn-remove-image text-red">
                                            <i class="fa fa-fw fa-remove"></i>
                                        </a>
                                    </span>
                                    <a class="" href="" ngf-select ngf-multiple="false" ngf-change="uploadImage($files,'gallery')">
                                        Thêm
                                    </a>
                                </div>
                            </div>
                            <!--End: Upload Image Section-->

                            <div class="form-group">
                                <label class="control-label" for="meta_title">Meta title</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="data.attrs.title" id="meta_title" name="meta_title" class="form-control" placeholder="Meta title">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="meta_description">Meta description</label>
                                <div class="controls">
                                    <textarea rows="4" cols="" data-ng-model="data.attrs.description" id="meta_description" name="meta_description" placeholder="Meta description"
                                        class="form-control"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="meta_keyword">Meta keyword</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="data.attrs.keyword" id="meta_keyword" name="meta_keyword" class="form-control" placeholder="Meta keyword">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box box-info">
                        <div class="box-header">
                            <h3 class="box-title">Thông tin meta</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label class="control-label" for="meta_title">Meta title</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="data.attrs.title" id="meta_title" name="meta_title" class="form-control" placeholder="Meta title">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="meta_description">Meta description</label>
                                <div class="controls">
                                    <textarea rows="4" cols="" data-ng-model="data.attrs.description" id="meta_description" name="meta_description" placeholder="Meta description"
                                        class="form-control"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="meta_keyword">Meta keyword</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="data.attrs.keyword" id="meta_keyword" name="meta_keyword" class="form-control" placeholder="Meta keyword">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</section>