<section data-ng-controller="UsersAddController" id="UsersController" data-ng-init="init()">
    <section class="content-header">
        <h1>Người dùng</h1>
    </section>
    <ng-loading loading-done="isLoading" />
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-body">
                        <div class="form-group">
                            <a class="btn btn-primary" ng-click="create(UserForm.$valid,'save&list')">Lưu & Danh sách</a> &nbsp;&nbsp;
                            <a class="btn btn-primary" ng-click="create(UserForm.$valid, 'apply')">Lưu</a> &nbsp;&nbsp;
                            <input type="button" value="Hủy" class="btn btn-default" ng-click="gotoList()">
                        </div>
                        <bz-message/>
                    </div>
                </div>
            </div>
            <form novalidate name="UserForm">
                <div class="col-md-8">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Người dùng mới</h3>
                        </div>
                        <!-- <form data-ng-submit="create()" novalidate name="UserForm"> -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label class="control-label" for="name">Tên</label>
                                        <div class="controls">
                                            <input type="text" ng-change="changeSlug(name)" data-ng-model="formData.name" id="name" name="name" class="form-control" placeholder="Tên" required>
                                        </div>
                                        <div class="error-messages message" ng-messages="UserForm.name.$error" ng-messages-multiple ng-if="submitted">
                                            <error-message/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="email">Email</label>
                                        <div class="controls">
                                            <input type="email" data-ng-model="formData.email" id="email" name="email" class="form-control" placeholder="Email" required>
                                        </div>
                                        <div class="error-messages message" ng-messages="UserForm.email.$error" ng-messages-multiple ng-if="submitted">
                                            <error-message/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="phone">Điện thoại</label>
                                        <div class="controls">
                                            <input type="text" data-ng-model="formData.phone" name="phone" id="phone" class="form-control" placeholder="Điện thoại" required>
                                        </div>
                                        <div class="error-messages message" ng-messages="UserForm.phone.$error" ng-messages-multiple ng-if="submitted">
                                            <error-message/>
                                        </div>
                                    </div>
                                    <!-- <div class="form-group">
                                        <label class="control-label" for="avatar">Cover</label>
                                        <div class="controls">
                                            <input type="file" name="file" nv-file-select uploader="uploader" onchange="angular.element(this).scope().handleFileSelect(event,'cover')" />
                                            <input type="hidden" name="cover" ng-model="cover">
                                            <img ng-src="{{review_cover}}" ng-show="review_cover" style="max-width: 200px; max-height: 200px; padding-top: 10px" />
                                            <p class="help-block" ng-hide="cover">Allow file: Image</p>
                                            <div ng-show="isUploadImage">
                                                <div class="progress progress-sm active">
                                                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->



                                    <div class="form-group">
                                        <label class="control-label" for="password">Mật khẩu</label>
                                        <div class="controls">
                                            <input type="password" data-ng-model="formData.password" id="password" name="password" class="form-control" placeholder="Mật khẩu" required ng-minlength="8" ng-maxlength="30">
                                        </div>
                                        <div class="error-messages message" ng-messages="UserForm.password.$error" ng-messages-multiple ng-if="submitted">
                                            <!-- <error-message minlength=6/> -->
                                            <div ng-message="required">Bạn chưa nhập mật khẩu.</div>
                                            <div ng-message="minlength">Mật khẩu quá ngắn.</div>
                                            <div ng-message="maxlength">Mật khẩu quá dài.</div>
                                            <div ng-message="passwordcharacters">Mật khẩu phải có ký tự in hoa, thường, số và ký tự đặc biệt.</div>
                                        </div>
                                    </div>

                                    <!-- Confirm Password -->
                                    <div class="form-group">
                                        <label class="control-label" for="cfpassword">Xác nhận mật khẩu</label>
                                        <div class="controls">
                                            <input bz-valid-password-match="#password" type="password" data-ng-model="formData.cfpassword" name="cfpassword" id="cfpassword" class="form-control" placeholder="Xác nhận mật khẩu" required>
                                        </div>
                                        <div class="error-messages message" ng-messages="UserForm.cfpassword.$error" ng-messages-multiple ng-if="submitted">
                                            <div ng-message="required">Bạn chưa nhập mật khẩu xác nhận.</div>
                                            <div ng-message="match">Mật khẩu không trùng khớp.</div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label" for="address">Địa chỉ</label>
                                        <div class="controls">
                                            <textarea data-ng-model="formData.address" name="address" id="address" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <!-- Tỉnh thành -->
                                    <div class="form-group">
                                        <label class="control-label" for="ddlProvince">Tỉnh thành</label>
                                        <select class="form-control" name="province" ng-model="formData.province" ng-options="key as value.name for (key , value) in mapVN[0]" required>
                                            <option value=''>-- Chọn Tỉnh --</option>
                                        </select>
                                        <div class="error-messages message" ng-messages="UserForm.province.$error" ng-messages-multiple ng-if="submitted">
                                        <error-message require-msg="Bạn chưa chọn giá trị nào." />
                                        </div>
                                    </div>
                                    <!-- Quận huyện -->
                                    <div class="form-group">
                                        <label class="control-label" for="ddlDistrict">Quận huyện</label>
                                        <select class="form-control" name="district" ng-model="formData.district" ng-options="key as value for (key , value) in mapVN[0][formData.province].districts" required>
                                            <option value=''>-- Chọn Quận huyện --</option>
                                        </select>
                                        <div class="error-messages message" ng-messages="UserForm.district.$error" ng-messages-multiple ng-if="submitted">
                                        <error-message require-msg="Bạn chưa chọn giá trị nào." />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="status">Trạng thái</label>
                                        <div class="controls">
                                            <select data-placeholder="Select Status" class="form-control" data-ng-model="formData.status" name="status" id="status" ng-options="item.value as item.name for item in statuses" required>
                                            </select>
                                        </div>
                                        <div class="error-messages message" ng-messages="UserForm.status.$error" ng-messages-multiple ng-if="submitted">
                                            <error-message require-msg="Bạn chưa chọn giá trị nào." />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box box-success">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="control-label" for="roles">Vai trò</label>
                                <div class="controls">
                                    <select ui-select2 data-placeholder="Select Role" class="form-control" data-ng-model="formData.roles" name="roles" id="roles" ng-options="item.value as item.name for item in userRoles" required multiple="multiple">
                                    </select>
                                </div>
                                <div class="error-messages message" ng-messages="UserForm.roles.$error" ng-messages-multiple ng-if="submitted">
                                    <error-message require-msg="Bạn chưa chọn giá trị nào." />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="controls">
                                    <input id="check-agent" type="radio" name="roleMore" ng-model="formData.tmpRoleMore" value="agent"/> <label for="check-agent">Đại lý</label> &nbsp&nbsp&nbsp
                                    <input id="check-supplier" type="radio" name="roleMore" ng-model="formData.tmpRoleMore" value="supplier"/> <label for="check-supplier">Nhà phân phối</label>
                                </div>
                            </div>
                            <div data-ng-if="formData.tmpRoleMore == 'agent'" class="form-group">
                                <div class="controls">
                                    <label class="control-label" for="type">Loại đại lý</label>
                                    <select data-placeholder="Chọn loại đại lý" class="form-control" data-ng-model="formData.agent.type" name="type" id="type" required >
                                        <option value=''>-- Chọn Đại Lý --</option>
                                        <option value="XE"> Xe</option>
                                        <option value="PT"> Phụ tùng/Phụ kiện</option>
                                    </select>
                                </div>
                                <div class="controls">
                                    <label class="control-label" for="supplier">Nhà phân phối</label>
                                    <select data-placeholder="Chọn nhà phân phối" class="form-control" data-ng-model="formData.agent.supplier" name="supplier" id="supplier" ng-options="item._id as item.name for item in suppliers" required>
                                        <option value=''>-- Chọn Nhà Phân Phối --</option>
                                    </select>
                                </div>
                            </div>
                            <div data-ng-if="formData.tmpRoleMore == 'supplier'" class="form-group">
                                <label class="control-label" for="tax">Mã số thuế</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="formData.supplier.tax" id="tax" name="tax" class="form-control" placeholder="Mã số thuế" required>
                                </div>
                                <div class="error-messages message" ng-messages="UserForm.tax.$error" ng-messages-multiple ng-if="submitted">
                                    <error-message/>
                                </div>
                                <label class="control-label" for="bank_number">Số tài khoản ngân hàng</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="formData.supplier.bank_number" id="bank_number" name="bank_number" class="form-control" placeholder="Số tài khoản ngân hàng" required>
                                </div>
                                <div class="error-messages message" ng-messages="UserForm.bank_number.$error" ng-messages-multiple ng-if="submitted">
                                    <error-message/>
                                </div>
                                <label class="control-label" for="bank_name">Tên ngân hàng</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="formData.supplier.bank_name" id="bank_name" name="bank_name" class="form-control" placeholder="Tên ngân hàng" required>
                                </div>
                                <div class="error-messages message" ng-messages="UserForm.bank_name.$error" ng-messages-multiple ng-if="submitted">
                                    <error-message/>
                                </div>
                                <label class="control-label" for="bank_agent">Chi nhánh ngân hàng</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="formData.supplier.bank_agent" id="bank_agent" name="bank_agent" class="form-control" placeholder="Mã số thuế" required>
                                </div>
                                <div class="error-messages message" ng-messages="UserForm.bank_agent.$error" ng-messages-multiple ng-if="submitted">
                                    <error-message/>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </section>
</section>