<div id="our-teams">
    meet our team
    Patrica Calce
    HR Executive

    Christian Daniel
    UI Designer

    Gustav Gard
    Mobile Developer

    Sarah Dillon
    Business Development Manager

    Sarah Dillon
    Director of Product Marketing

    Mike Johnshon
    Founder and CEO
</div>