<div id="mod-sidebar" ng-if="showSidebar">
    <div class="content-sidebar">
        <div class="header text-center">
            <app-icon></app-icon>
            Admin
        </div>
        <div class="list-item">
            <ul>
                <li class="item">
                    <a href="" class="el-item">
                        <i class="material-icons">home</i>
                        Item 1
                    </a>
                </li>
                <li class="item active">
                    <a href="" class="el-item">
                        <i class="material-icons">home</i>
                        Item 2
                    </a>
                </li>
                <li class="item">
                    <a href="" class="el-item">
                        <i class="material-icons">home</i>
                        Item 3
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>