<div class="form-edit-account">
    <button md-icon-button [mdMenuTriggerFor]="menu" class="actions">
        <i class="material-icons">more_vert</i>
    </button>
    <md-menu #menu="mdMenu">
        <button md-menu-item (click)="removeAccount()">
            <span>Xóa</span>
        </button>
    </md-menu>
    <form #formEditAccount="ngForm" class="form-edit-account">
        <div class="row">
            <div class="col-4">
                <md-form-field class="form-control">
                    <input mdInput placeholder="Username" [(ngModel)]="account.user_name" #usernameEditControl="ngModel" name="account.username">
                </md-form-field>
            </div>
            <div class="col-4">
                <md-form-field class="form-control">
                    <input mdInput placeholder="Email" [(ngModel)]="account.email" #emailEditControl="ngModel" name="account.email" [pattern]="pattern.email"
                        required>
                    <md-error *ngIf="(emailEditControl.touched || formAccount.submitted) && !emailEditControl.valid">
                        <span *ngIf="emailEditControl.errors.pattern">Email không đúng dạng</span>
                        <span *ngIf="emailEditControl.errors.required">Chưa nhập email</span>
                    </md-error>
                </md-form-field>
            </div>
            <div class="col-4">
                <md-form-field class="form-control">
                    <input mdInput placeholder="Password" [(ngModel)]="account.password" #passwordEditControl="ngModel" name="account.password"
                        required>
                    <md-error *ngIf="(passwordEditControl.touched || formAccount.submitted) && !passwordEditControl.valid">
                        <span *ngIf="passwordEditControl.errors.required">Chưa nhập mật khẩu</span>
                    </md-error>
                </md-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <md-form-field class="form-control">
                    <textarea mdInput placeholder="Extra" [(ngModel)]="account.extra" #extraAddControl="ngModel" rows="4" name="extra"></textarea>
                </md-form-field>
            </div>
        </div>
    </form>
</div>
