<section data-ng-controller="ContactsController" data-ng-init="findOne()">
    <section class="content-header">
        <h1>Liên Hệ</h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Cập Nhật Liên Hệ</h3>
                    </div>
                    <form name="ContactForm" data-ng-submit="update(ContactForm.$valid)" novalidate>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label" for="name">Tên</label>
                                        <div class="controls">
                                            <input type="text" data-ng-model="contact.name" id="name" name="name" class="form-control" placeholder="Name" required>
                                        </div>
                                        <div class="error-messages message" ng-messages="ContactForm.name.$error" ng-messages-multiple ng-if="submitted">
                                            <error-message/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="email">Email</label>
                                        <div class="controls">
                                            <input type="email" data-ng-model="contact.email" id="email" name="email" class="form-control" placeholder="Email" required>
                                        </div>
                                        <div class="error-messages message" ng-messages="ContactForm.email.$error" ng-messages-multiple ng-if="submitted">
                                            <error-message/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="message">Tin nhắn</label>
                                        <div class="controls">
                                            <textarea class="form-control" name="message" data-ng-model="contact.message" rows="3" required></textarea>
                                        </div>
                                        <div class="error-messages message" ng-messages="ContactForm.message.$error" ng-messages-multiple ng-if="submitted">
                                            <error-message/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="form-group">
                                <input type="submit" value="Gửi" class="btn btn-primary">
                                <input type="button" value="Hủy" class="btn btn-default" ng-click="gotoList()">
                            </div>
                            <div class="alert alert-danger alert-dismissable" data-ng-show="error">
                                <h4><i class="icon fa fa-ban"></i> Error!</h4>
                                <div data-ng-bind="error"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</section>
