<!-- =========================Post========================= -->
<li  ng-if="pageMethods.authSvc.isSuperAdmin() || (pageMethods.authSvc.isAdmin() && pageMethods.authSvc.hasPermission('blog', ['view']))" ng-if="pageMethods.authSvc.isSuperAdmin()" ng-class="{'active':pageData.menuType === 'blog-post'}" class="treeview">
    <a ui-sref="blogsPost({module: 'blog'})">
        <i class="fa fa-pencil-square-o text-aqua"></i> <span> Trang góc bếp</span>
    </a>
</li>

<!-- =========================Policy========================= -->
<li  ng-if="pageMethods.authSvc.isSuperAdmin() || (pageMethods.authSvc.isAdmin() && pageMethods.authSvc.hasPermission('blog', ['view']))" ng-if="pageMethods.authSvc.isSuperAdmin()" ng-class="{'active':pageData.menuType === 'blog-policy'}" class="treeview">
    <a ui-sref="blogsPolicy({module: 'blog'})">
        <i class="fa fa-info-circle text-aqua"></i> <span> Trang trợ giúp </span>
    </a>
</li>

<!-- =========================Banner========================= -->
<li  ng-if="pageMethods.authSvc.isSuperAdmin() || (pageMethods.authSvc.isAdmin() && pageMethods.authSvc.hasPermission('blog', ['view']))" ng-if="pageMethods.authSvc.isSuperAdmin()" ng-class="{'active':pageData.menuType === 'blog-banner'}" class="treeview">
    <a ui-sref="blogsBanner({module: 'blog'})">
        <i class="fa fa-bookmark-o  text-aqua"></i> <span> Trang Banner</span>
    </a>
</li>

<!-- =========================Tip========================= -->
<li  ng-if="pageMethods.authSvc.isSuperAdmin() || (pageMethods.authSvc.isAdmin() && pageMethods.authSvc.hasPermission('blog', ['view']))" ng-if="pageMethods.authSvc.isSuperAdmin()" ng-class="{'active':pageData.menuType === 'blog-tip'}" class="treeview">
    <a ui-sref="blogsTip({module: 'blog'})">
        <i class="fa fa-share-alt-square text-aqua"></i> <span> Trang mẹo vặt</span>
    </a>
</li>

<!-- =========================News========================= -->
<li  ng-if="pageMethods.authSvc.isSuperAdmin() || (pageMethods.authSvc.isAdmin() && pageMethods.authSvc.hasPermission('blog', ['view']))" ng-if="pageMethods.authSvc.isSuperAdmin()" ng-class="{'active':pageData.menuType === 'blog-tip'}" class="treeview">
    <a ui-sref="blogsNews({module: 'blog'})">
        <i class="fa fa-podcast text-aqua"></i> <span> Trang tin tức</span>
    </a>
</li>
<!-- =========================END Blog========================= -->