<!-- =========================Users========================= -->
<li ng-if="pageMethods.authSvc.isSuperAdmin() || (pageMethods.authSvc.isAdmin() && pageMethods.authSvc.hasPermission('user', ['view']))"
    ng-class="{'active':pageData.menuType === 'user'}" class="treeview">
    <a ui-sref="users({page:1})">
        <i class="fa fa-users text-aqua"></i> <span> Danh sách tài khoản</span>
    </a>
</li>

<!-- =========================Users========================= -->
<li ng-if="pageMethods.authSvc.isSuperAdmin() || (pageMethods.authSvc.isAdmin() && pageMethods.authSvc.hasPermission('user', ['view']))"
    ng-class="{'active':pageData.menuType === 'user-deleted'}" class="treeview">
    <a ui-sref="usersDeleted({page:1, deletedAt: true})">
        <i class="fa fa-users text-aqua"></i> <span> Tài khoản đã xoá</span>
    </a>
</li>

<!-- =========================END Users========================= -->