@include('web/layout/partial/master/header')
<body>
  @include('web/layout/partial/master/header-nav')
  <section>
    @!section('content')
  </section>
  @include('web/layout/partial/master/footer')
</body>
</html>
