@include('web/layout/partial/master/header')
<body>
  <script>
      var csrfToken = '{{csrfToken}}';
  </script>
  @include('web/layout/partial/master/header-nav')
  <section class="mod-content">
    @!section('content')
  </section>
  @include('web/layout/partial/master/footer')
</body>
</html>
