.vodal-dialog{
    background: none;
    box-shadow: none;
    height: auto !important;
    .content{
        box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
        padding: 15px;
        background: white;
    }
}