<div id="mod-popup-add-coupon" class="popup-order-add-coupon">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Cập nhật nhãn cho sản phẩm: "[[data.product.name]]"
        </h1>
    </section>
    <hr class="space">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <form novalidate id="frmEditTagProduct" name="frmEditTagProduct" ng-submit="update(frmEditTagProduct)">
                    <div class="form-group">
                        <label>Thời gian hiệu lực</label>
                        <div class="row">
                            <div class="col-md-6">
                                <soan>Từ:</soan>
                                <input type="text" name="startDate" ng-model="formData.expire_date.startDate" atr-date-time-picker class="form-control" required>
                                <div class="messages-error" ng-messages="frmEditTagProduct.startDate.$error" ng-if="submitted">
                                    <div ng-message="required">Bạn chưa chọn thời gian bắt đầu</div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <soan>Đến:</soan>
                                <input type="text" name="endDate" ng-model="formData.expire_date.endDate" atr-date-time-picker class="form-control" required>
                                <div class="messages-error" ng-messages="frmEditTagProduct.endDate.$error" ng-if="submitted">
                                    <div ng-message="required">Bạn chưa chọn thời gian kết thúc</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Thứ tự hiển thị:</label>
                        <input class="form-control" ng-model="formData.order" type="number" name="order" required>
                        <div class="messages-error" ng-messages="frmEditTagProduct.order.$error" ng-if="submitted">
                            <div ng-message="required">Bạn phải nhập giá trị này</div>
                        </div>
                    </div>

                    <div class="text-right">
                        <button type="submit" class="btn btn-success">Cập nhật</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>