<% extends 'web/layouts/layout.html' %>
<% block content %>
<section id="mod-product-detail" data-ng-controller="productCtrl as vmProduct" data-ng-init="vmProduct.init()">
    <div class="container">
        <div id="mod-product">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-12 col-lg-8">
                            <div class="img_product" style="background-image: url('files/product/<$ data.color[0].image $>');" id="img-product">
                                <img src="assets/images/bx125-cutout.png" alt="" class="opacity">
                            </div>
                        </div>
                        <div class="col-lg-4 product">
                            <h3 class="text_brixton"><strong class="text-uppercase"><$ data.short_description $></strong></h3>
                            <p class="mt-3">- <$ data.brand.name $> <$ data.name $> -</p>
                            <p class="mt-4"><$ data.detail_infor $></p>
                            <div class="mt-5">
                                <% for item in data.color %>
                                    <button class="btn btn-link" data-ng-click="vmProduct.changeImage('<$ item.image $>')">
                                        <div class="image-selection" style="background: <$ item.value $>;"></div>
                                        <br><span class="mt-3"><$ item.name $></span>
                                    </button>
                                <% endfor %>
                            </div>
                            <br>
                            <a href="">> Xem review của <$ data.brand.name $> <$ data.name $></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="mt-5" id="price">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-8 price-group">
                            <div class="item">
                                <div class="price">
                                    <p>
                                        <!--<u>đ</u> <$ data.price_user $></p>-->
                                        <u>đ</u> <$ data.price_user | currency $></p>
                                </div>
                                <div class="type text-right">
                                    <span>Giá bán</span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="price">
                                    <p><span>> </span>
                                        <u>đ</u> <$ (data.price_user * data.deposit / 100) | currency $></p>
                                </div>
                                <div class="type text-right">
                                    <span>Đặt cọc</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <button class="buy">
                                ĐẶT MUA 
                                <span class="icon_motor"> <img class="mb-2" src="/assets/images/motorcycle---material.png" alt=""></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="img_motor">
        <img src="/assets/images/overlay.png" alt="">
    </section>

    <section id="parameter">
        <div class="container">
            <h3>THÔNG SỐ KỸ THUẬT</h3>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="info-title">
                        <h6><strong>Động cơ</strong></h6>
                        <button type="button" class="btn btn-link view-btn1 p-0" data-toggle="collapse" data-target="#engine">
                            <span class="glyphicon glyphicon-collapse-down"></span> Xem
                        </button>
                    </div>
                    <div id="engine" class="collapse">
                        <table>
                            <% for name, item in data.engine_detail %>
                                <tr>
                                    <td><$ name $></td>
                                    <td><$ item $></td>
                                </tr>
                            <% endfor %>
                        </table>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="info-title">
                        <h6><strong>Khung xương</strong></h6>
                        <button type="button" class="btn btn-link view-btn2 p-0" data-toggle="collapse" data-target="#bone">
                            <span class="glyphicon glyphicon-collapse-down"></span> Xem
                        </button>
                    </div>
                    <div id="bone" class="collapse">
                        <table>
                            <% for name, item in data.bone_frame_detail %>
                                <tr>
                                    <td><$ name $></td>
                                    <td><$ item $></td>
                                </tr>
                            <% endfor %>
                        </table>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="info-title">
                        <h6><strong>Kích thước</strong></h6>
                        <button type="button" class="btn btn-link view-btn3 p-0" data-toggle="collapse" data-target="#size">
                            <span class="glyphicon glyphicon-collapse-down"></span> Xem
                        </button>
                    </div>
                    <div id="size" class="collapse">
                        <table>
                           <% for name, item in data.size_detail %>
                                <tr>
                                    <td><$ name $></td>
                                    <td><$ item $></td>
                                </tr>
                            <% endfor %>
                        </table>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </section>
    <section id="slide1">
        <div id="mod-product-detail-banner">
            <% for item in data.gallery %>
                <div class="slick-slide" style="background-image: url('files/product/<$ item.url $>');background-size: cover;"></div>
            <% endfor %>
        </div>
    </section>
</section>
<% endblock %>