#mod-product .image-upload{
    max-width: 200px;
    max-height: 200px;
    border: 1px solid green;
    margin-top: 10px;
}

#mod-product .btn-remove-img{
    color: red;
}
#mod-product .img-count{
    margin-top: 5px;
    margin-left: 5px;
}
#mod-product .image-cate{
    max-width: 100px;
}
#mod-product .image-upload-section img{
    width: 150px;
    height: 150px;
    cursor: pointer;
}
#mod-product .table>tbody>tr>td{
    vertical-align: middle;
}
#mod-product .image-upload-section .image-item{
    display: inline-block;
    margin-right: 20px;
    position: relative;
    vertical-align: middle;
}
#mod-product .image-upload-section .btn-remove-image{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    font-size: 25px;
}
#mod-product .image-upload-section .image-item:hover .btn-remove-image{
    display: block;
}