#mod-app {
    color: #fff;
    padding-left: 180px;
    padding-top: 60px;
    position: relative;
    .sidebar{
        position: fixed;
        width: 180px;
        left: 0;
        top: 0;
        height: 100%;
        background-color: rgba(0,0,0,.5);
        z-index: 1;
    }
    .menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding-left: 180px;
        z-index: 0
    }
    .main-content{
        padding: 15px;
    }
}