#mod-app {
    display: flex;
    flex-flow: row wrap;
    .sidebar{
        order: 1;
        flex: 1 auto;
        max-width: 180px;
    }
    .main{
        order: 2;
        flex: 3 auto;
        color: #fff;
        padding: 30px 15px;
    }
}