<title>Maximus Tims CMS</title>
<base href="<$ cmsprefix $>" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<script type="text/javascript">
    var cmsprefix = '<$ cmsprefix $>';  
    var settings = '<$ settings $>';  
    var user = <$ credentials | dump | safe $>;
    var settings = <$ settings | dump | safe $>;
</script>
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
<% asyncEach asset in adminassets.css %>
    <link rel="stylesheet" href="<$ asset $>" /> 
<% endeach %>