<!-- Desktop Menu -->
<div id="mod-menu">
    <div class="container">
        <div class="menu-desk">
            <ul>
                <li class="mega"><a href="/"><span>Home</span></a>
                    <!-- Mega sub -->
                    <div>
                        <div class="m-left float-left">
                            <div class="m-block m-block1">
                                <ul>
                                    <li><a href="javascript;"><span>Menu</span></a></li>
                                    <li><a href="javascript;"><span>Menu</span></a>
                                        <ul>
                                            <li><a href="javascript;"><span>Menu</span></a></li>
                                            <li><a href="javascript;"><span>Menu</span></a></li>
                                            <li><a href="javascript;"><span>Menu</span></a>
                                                <ul>
                                                    <li><a href="javascript;"><span>Menu</span></a></li>
                                                    <li><a href="javascript;"><span>Menu</span></a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="m-block m-block2">
                                <ul>
                                    <li><a href="javascript;"><span>Menu</span></a></li>
                                    <li><a href="javascript;"><span>Menu</span></a></li>
                                </ul>
                            </div>
                            <div class="m-block m-block3">
                                <ul>
                                    <li><a href="javascript;"><span>Menu</span></a></li>
                                    <li><a href="javascript;"><span>Menu</span></a></li>
                                </ul>

                            </div>
                        </div>
                        <div class="m-right float-right">
                            <img src="http://placehold.it/300x300">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- End: Mega sub -->
                </li>
                <li class="list"><a href="about"><span>About Us</span></a>
                    <!-- List sub -->
                    <ul>
                        <li><a href="javascript;"><span>Menu Level 1</span></a>
                            <ul>
                                <li><a href="javascript;"><span>Menu level 2</span></a></li>
                                <li><a href="javascript;"><span>Menu level 2</span></a>
                                    <ul>
                                        <li><a href="javascript;"><span>Menu Level 3</span></a></li>
                                        <li><a href="javascript;"><span>Menu Level 3</span></a></li>
                                    </ul>
                                </li>
                                <li><a href="javascript;"><span>Menu level 2</span></a></li>
                            </ul>
                        </li>
                        <li><a href="javascript;"><span>Menu Level 1</span></a></li>
                        <li><a href="javascript;"><span>Menu Level 1</span></a></li>
                    </ul>
                    <!-- End: List sub -->
                </li>
                <li>
                    <a href="gallery.html">
                        Gallery
                    </a>
                </li>
                <li class="list right"><a href="javascript;"><span>Language</span></a>
                    <!-- List sub -->
                    <ul>
                        <li><a href="javascript;"><span>Vietnamese</span></a></li>
                        <li><a href="javascript;"><span>English</span></a></li>
                    </ul>
                    <!-- End: List sub -->
                </li>
                <li>
                    <a href="contact">
                        Contact
                    </a>
                </li>
                <% if credentials.id%>
                <li>
                    <a href="account">
                        My Account
                    </a>
                </li>
                <% else %>
                <li>
                    <a href="login">
                        Login
                    </a>
                </li>
                <li class="right"><a href="register.html"><span>Register</span></a>
                    <!-- List sub -->
                    <ul>
                        <li><a href="javascript;"><span>Menu Level 1</span></a>
                            <ul>
                                <li><a href="javascript;"><span>Menu Leve l2</span></a></li>
                                <li><a href="javascript;"><span>Menu Leve l22</span></a>
                                    <ul>
                                        <li><a href="javascript;"><span>Menu Level 3</span></a></li>
                                        <li><a href="javascript;"><span>Menu Level 33</span></a></li>
                                    </ul>
                                </li>
                                <li><a href="javascript;"><span>Menu Leve l222</span></a></li>
                            </ul>
                        </li>
                        <li><a href="javascript;"><span>Menu Level 11</span></a></li>
                        <li><a href="javascript;"><span>Menu Level 11111</span></a></li>
                    </ul>
                    <!-- End: List sub -->
                </li>
                <% endif %>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- End: Desktop Menu -->
<!-- Mobile Menu -->
<div class="menu-overlay"></div>
<div id="mod-menu-mob">
    <div class="pull-menu is-close">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="clearfix"></div>
</div>
<!-- End: Mobile Menu -->