<!DOCTYPE html>
<html>

<head>
    <% include "admin/layouts/partials/header.html" %>
    <style>
        .show>.dropdown-menu {display: block;}
    </style>
</head>

<body class="ng-cloak skin-blue sidebar-mini">
    <div class="wrapper">
        <% include "admin/layouts/partials/header-nav.html" %>

    <aside class="main-sidebar">
        <section class="sidebar" data-ng-controller="HeaderController">
            <ul class="sidebar-menu">
                <li class="header">MENU</li>
                <% include "admin/layouts/partials/sitebar-left.html" %>
            </ul>
        </section>
    </aside>
    <div class="content-wrapper">
        <% block content %>
        <% endblock %>
    </div>
    <!-- /container -->
    <% include "admin/layouts/partials/footer.html" %>
</div>
</body>

</html>