<div class="search show-mb overflow-hide" id="search-mb" data-ng-controller="searchCtrl as vmSearch" data-ng-init="init('#search-mb')">
    <form data-ng-submit="submit(formSearch_mb)" name="formSearch_mb" id="formSearch_mb" novalidate>
        <div class="form-group">
            <div class="msg-input" data-ng-class="search_input" >
                <input type="text" class="form-control search-input" placeholder="Tìm kiếm sản phẩm" data-ng-model="search" name="search" value="{{search_txt}}" data-ng-change="searchResult(formSearch_mb)" data-ng-focus="showList()" data-ng-blur="hideList()" required disabled>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" data-ng-disabled="formSearch_mb.$submitted">Tìm kiếm</button>
        {{> web/partials/search/search-content}}
    </form>
</div>