#mod-search{
	padding-top: 15px;
	.result{
		padding-left: 15px;
	}
	.item {
		margin-bottom: 30px;
	}
	.border{
		border-bottom: solid 1px #dedede;
	}
	.ct-moto{
		border-bottom: solid 1px;
		max-width: 1160px;
		margin: auto;
	}
	.moto {
		float: left;
				img{
			max-width: 100%;
		}
		p{
			 @include font($fontR,20px,#000,500)
		}
	}
	.search{
		padding-top: 90px;
	}
}
@media only screen and(max-width: 555px){
	#mod-search{
		.moto{
			p{
				font-size: 14px;
			}
		}
	}
}