<div class="choose" id="banner-top">
    <div class="row">
        <div class="col-xs-12 choose-left">
            {{#each banner_top_slide}}
            <a href="{{this.link}}">
                <div class="image bg-img-position b-lazy" data-src="/files/banner_image/{{this.image}}">
                    <img src="{{ linkAssets 'frontend/images/home-img-defaut.png' }}" class="img-responsive opacity" alt="home-img-defaut.png">
                </div>
            </a>
            {{/each}}
        </div>
        {{#each banner_top_item}}
        <div class="col-xs-6 show-tablet">
            <a href="{{this.link}}">
                <div class="image bg-img-position b-lazy" data-src="/files/banner_image/{{this.image}}">
                    <img src="{{ linkAssets 'frontend/images/default-banner.png' }}" class="img-responsive opacity" alt="default-banner.png">
                </div>
            </a>
        </div>
        {{/each}}
        <div class="clearfix"></div>
        <div class="choose-bottom show-mb">
            {{#each category_mb}}
            <div class="item-category">
                <a href="/danh-muc/{{this.cate.slug}}">
                    <img alt="category" src="{{ linkAssets 'frontend/images/' }}{{this.image }}">
                    <p>{{this.cate.name}}</p>
                </a>
            </div>
            {{/each}}
            <div class="clearfix"></div>
        </div>
    </div>
</div>