{% extends 'admin/layout/error' %}
{% block content %}
<div class="error-code">404</div>
    <div class="error-message">Không tìm thấy trang .Vui lòng về trang chủ</div>
    <div class="button-place">
        <a href="/" class="btn btn-default btn-lg waves-effect">VỀ LẠI TRANG CHỦ</a>
    </div>
</div>
{% endblock %}