{% extends 'admin/layout/master' %} {% block content %}
<div class="container-fluid">

    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>Tài khoản</h2>
                </div>
                <div class="body" id="account">
                   <p v-text="message"></p>
                   {% raw %}
                       {{message}} asfasf
                   {% endraw %}
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}