<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <base href="/">

    <title>Admin</title>

    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <!-- Google Fonts -->

    <link rel="stylesheet" type="text/css" href="/assets/dist/web/style/main.css">
</head>

<body>
    <app-root></app-root>
    {% include "admin/layout/partial/master/footer.njk" %}
</body>

</html>