<form #f="ngForm" (ngSubmit)="submit(f)">
    <div ngModelGroup="contact" #contact="ngModelGroup">
        <div class="form-group">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName" ngModel name="firstName" #firstName="ngModel" required minlength="3"
                maxlength="10">
            <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
                <div *ngIf="firstName.errors.required">First name is required</div>
                <div *ngIf="firstName.errors.minlength">First name is minimum {{firstName.errors.minlength.requiredLength}} character</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea id="comment" cols="30" rows="10" class="form-control" ngModel name="comment"></textarea>
    </div>
    <div class="checkbox" >
        <label for="isSubscribed">
            <input type="checkbox" ngModel name="isSubscribed"> Subscribe to mailing list
        </label>
    </div>
    <div class="radio" *ngFor="let method of contactMethods">
        <label for="">
            <input type="radio" ngModel name="contactChoice" [value]="method.id">
            {{ method.name }}
        </label>
    </div>
    <div class="form-group">
        <label for="contactMethod">Contact Method</label>
        <select multiple ngModel name="contactMethod" id="contactMethod" class="form-control">
            <option value=""></option>
            <option *ngFor="let method of contactMethods" [value]="method.id">{{method.name}}</option>
        </select>
    </div>
    <p>{{f.value | json}}</p>
    <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>