<div id="mod-footer" data-module="footer">
	<div class="container">
		<div class="top-footer">
			<div class="row">
				<div class="col-xs-6 item1">
					<h5>Mua hàng việt</h5>
					<ul>
						<li>
							<a href="/gioi-thieu-mua-hang-viet" rel="nofollow">Giới thiệu về Mua Hàng Việt</a>
						</li>
						<li>
							<a href="/chinh-sach-bao-mat" rel="nofollow">Chính sách bảo mật</a>
						</li>
						<li>
							<a href="/chinh-sach-khach-vip" rel="nofollow">Chính sách khách VIP</a>
						</li>
						<li>
							<a href="/tin-tuc" rel="nofollow">Tin tức Mua Hàng Việt</a>
						</li>
					</ul>
				</div>
				<div class="col-xs-6 item2">
					<h5>Hỗ trợ khách hàng</h5>
					<ul>
						<li>
							<a href="/chinh-sach-giao-hang" rel="nofollow">Chính sách giao hàng</a>
						</li>
						<li>
							<a href="/huong-dan-dat-hang-va-thanh-toan" rel="nofollow">Hướng dẫn đặt hàng</a>
						</li>
						<li>
							<a href="/mot-so-cau-hoi-thuong-gap" rel="nofollow">Câu hỏi thường gặp</a>
						</li>
					</ul>
				</div>
				<div class="col-xs-6 item3">
					<h5>Liên hệ</h5>
					<ul itemscope itemtype="http://schema.org/ContactPoint">
						<li>
							<a itemprop="tel" href="tel:0917180709" class="hotline">
								<span class="icon-hotline"></span> Hotline: <span>0917 18 07 09</span>
							</a>
						</li>
						<li>
							<a itemprop="email" href="mailto:support@muahangviet.com.vn">Email: <span>support@muahangviet.com.vn</span></a>
						</li>
					</ul>
					<h5>Đăng ký đối tác</h5>
					<ul>
						<li>
							<a href="tel:0866850229">Điện thoại: <span>(08) 6685 0229</span></a>
						</li>
						<li>
							<a href="mailto:sourcing@muahangviet.com.vn">Email: <span>sourcing@muahangviet.com.vn</span></a>
						</li>
						<li>
							<div class="fb-messengermessageus" data-messenger_app_id="1230438623691617" data-page_id="845062858942281" data-color="blue" data-size="large"></div>
						</li>
					</ul>

					<h5 class="show-mb">Hỗ trợ khách hàng</h5>
					<ul class="show-mb">
						<li>
							<a href="/huong-dan-dat-hang-va-thanh-toan" rel="nofollow">Hướng dẫn thanh toán</a>
						</li>
						<li>
							<a href="/chinh-sach-giao-hang" rel="nofollow">Chính sách giao hàng</a>
						</li>
					</ul>
				</div>
				<div class="col-xs-6 item4">
					<div class="has-confirm">
						<h5>Được chứng nhận</h5>
						<div class="img-confirm">
							<a href="http://online.gov.vn/CustomWebsiteDisplay.aspx?DocId=22366" rel="nofollow" target="_blank">
								<img src="{{ linkAssets 'frontend/images/has-alert.png'}}" class="img-responsive" alt="has-alert.png">
							</a>
						</div>
					</div>
					<div class="connect">
						<h5>Kết nối với chúng tôi</h5>
						<div class="plugin-facebook">
							<div class="fb-page" data-href="https://www.facebook.com/muahangviet.com.vn" data-small-header="false" data-adapt-container-width="true"
							 data-hide-cover="false" data-show-facepile="true">
								<blockquote cite="https://www.facebook.com/muahangviet.com.vn" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/muahangviet.com.vn">Mua Hàng Việt</a></blockquote>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mid-footer">
			<div class="container">
				<div class="row">
					<div class="col-xs-16">
						<div class="item">
							<h6>Trụ sở chính</h6>
							<p>268-270 Nguyễn Đình Chiểu, Phường 6, Quận 3, TP.HCM</p>
						</div>
						<div class="item">
							<h6>Văn phòng đại diện</h6>
							<p>45A Trần Nhật Duật, P. Tân Định, Quận 1 , TP.HCM</p>
							<p>Mã số doanh nghiệp: 0313335029 do Phòng đăng ký kinh doanh - Sở Kế hoạch và Đầu tư TP.HCM cấp ngày 07/07/2015</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bot-footer">
			<p id="text-copyright"></p>
		</div>
	</div>
</div>

<div id="scroll-top" data-module="scrolltop">
	<img src="{{ linkAssets 'frontend/images/iconscrolltotop.png'}}" class="img-responsive" onclick="helperJs.scrollToTop(500)"
	 alt="iconscrolltotop.png">
</div>
<script>
	var currentTime = new Date();
	var curentlyYear = currentTime.getFullYear();
	var text_copyright = '© ' + curentlyYear + ' Mua Hàng Việt Beta. Phiên bản Mua Hàng Việt chỉ giao hàng tại Thành Phố Hồ Chí Minh';
	document.getElementById("text-copyright").innerHTML = text_copyright;
</script>