<!--<script src="{{linkAssets 'frontend/javascripts/app.js'}}?v={{settings.versionJs}}"></script>-->
<script>
	document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
</script>
{{> web/partials/link/script}} 
<script>
	/* <![CDATA[ */
	$( document ).ready(function() {
		/*Lazy load image*/
		$("img").unveil();
		$("div.lazy").lazyload({effect : "fadeIn"});
		document.getElementsByClassName('view-container')[0].classList.remove('hidden-script');
		document.getElementsByClassName('view-container')[0].classList.remove('hidden-style');
		document.getElementsByClassName('view-container')[0].classList.remove('hidden-style1');
	});
	/* ]]> */
</script>