<meta name="title" content="{{{meta.title}}}">
<meta name="description" content="{{{meta.desc}}}">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="fragment" content="!">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="robots" {{#if error404 }} content="noindex, nofollow" {{else}} content="index, follow" {{/if}}/>
<meta name="keywords" content="">
<!-- <link rel="shortcut icon" href="{{linkAssets 'favicon/site.ico/favicon.png'}}"> -->

<!-- FAVICON -->
<link rel="apple-touch-icon" sizes="57x57" href="{{linkAssets 'favicon/site.ico/apple-icon-57x57.png'}}">
<link rel="apple-touch-icon" sizes="60x60" href="{{linkAssets 'favicon/site.ico/apple-icon-60x60.png'}}">
<link rel="apple-touch-icon" sizes="72x72" href="{{linkAssets 'favicon/site.ico/apple-icon-72x72.png'}}">
<link rel="apple-touch-icon" sizes="76x76" href="{{linkAssets 'favicon/site.ico/apple-icon-76x76.png'}}">
<link rel="apple-touch-icon" sizes="114x114" href="{{linkAssets 'favicon/site.ico/apple-icon-114x114.png'}}">
<link rel="apple-touch-icon" sizes="120x120" href="{{linkAssets 'favicon/site.ico/apple-icon-120x120.png'}}">
<link rel="apple-touch-icon" sizes="144x144" href="{{linkAssets 'favicon/site.ico/apple-icon-144x144.png'}}">
<link rel="apple-touch-icon" sizes="152x152" href="{{linkAssets 'favicon/site.ico/apple-icon-152x152.png'}}">
<link rel="apple-touch-icon" sizes="180x180" href="{{linkAssets 'favicon/site.ico/apple-icon-180x180.png'}}">
<link rel="icon" type="image/png" sizes="192x192"  href="{{linkAssets 'favicon/site.ico/android-icon-192x192.png'}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{linkAssets 'favicon/site.ico/favicon-32x32.png'}}">
<link rel="icon" type="image/png" sizes="96x96" href="{{linkAssets 'favicon/site.ico/favicon-96x96.png'}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{linkAssets 'favicon/site.ico/favicon-16x16.png'}}">
<link rel="manifest" href="{{linkAssets 'favicon/site.ico/manifest.json'}}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{linkAssets 'favicon/site.ico/ms-icon-144x144.png'}}">
<meta name="theme-color" content="#ffffff">
<!-- END FAVICON -->

<!-- Social: Facebook / Open Graph -->
<!-- <meta property="og:type" content="{{{meta.og_type}}}"> -->
<meta property="og:title" content="{{{meta.og_title}}}">
<meta property="og:url" content="{{{meta.og_url}}}">
<meta property="og:image" content="{{meta.og_image}}">
<meta property="og:description" content="{{{meta.og_description}}}">
<!-- Social: Twitter -->
<meta name="twitter:title" content="{{{meta.og_title}}}">
<meta name="twitter:description" content="{{{meta.og_description}}}">
<meta name="twitter:image:src" content="{{meta.og_image}}">
<!-- Social: Google+ / Schema.org  -->
<meta itemprop="name" content="{{{meta.og_title}}}">
<meta itemprop="description" content="{{{meta.og_description}}}">

<meta itemprop="image" content="{{meta.og_image}}"> 
<style>
	.hidden-style, .hidden-script, .hidden-style1{visibility: hidden;}
	.modal-dialog {max-width: 400px;}
</style>

{{> web/partials/link/style}}

<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="{{linkPublic 'tmp/site/styles/main.css'}}">

<!-- Variable -->
<script>
	/* <![CDATA[ */
	var permissions  = {{{json permissions}}};
	var user = {{{json credentials}}};
	var settings = {{{json settings}}};
	/* ]]> */
</script>