/****************************************************************************************
Description: CSS configs
*****************************************************************************************/
// Responsive
$container-width: 				null;
$container-maxwidth: 			1200px;
$container-padding: 			null;

/* Fonts */
$fontR:							"Roboto";
$fontB:							"fontB";
$fontI:							"fontI";
$fontL:							"fontL";
$fontM:							"fontM";
/****************************************************************************************
Description: Bootstrap variables
*****************************************************************************************/
