<script type="text/javascript" src="/assets/dist/admin/inline.bundle.js"></script>
<script type="text/javascript" src="/assets/dist/admin/polyfills.bundle.js"></script>
<script type="text/javascript" src="/assets/dist/admin/styles.bundle.js"></script>
<script type="text/javascript" src="/assets/dist/admin/vendor.bundle.js"></script>
<script type="text/javascript" src="/assets/dist/admin/main.bundle.js"></script>