<section>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- Menu -->
        <div class="menu">
            <ul class="list">
                <!-- <li class="header">MAIN NAVIGATION</li> -->
                <!-- <li {% if sidebar_active == 'dashboard' %}class="active"{% endif %}>
                    <a href="/admin">
                        <i class="material-icons">home</i>
                        <span>Home</span>
                    </a>
                </li> -->
                <li>
                    <router-link :to="{name: 'dashboard'}" class="waves-effect waves-block">
                        <i class="material-icons">home</i>
                        <span>Home</span>
                    </router-link>
                </li>
                <li>
                    <router-link :to="{name: 'account', query: { page: 1, limit: 15 }}" class="waves-effect waves-block">
                        <i class="material-icons">supervisor_account</i>
                        <span>Tài khoản</span>
                    </router-link>
                </li>
                <li>
                    <router-link :to="{ name: 'user', query: { page: 1, limit: 15 } }" class="waves-effect waves-block">
                        <i class="material-icons">account_box</i>
                        <span>User</span>
                    </router-link>
                </li>
                <li>
                    <router-link :to="{ name: 'user', query: { page: 1, limit: 15 } }" class="waves-effect waves-block">
                        <i class="material-icons">link</i>
                        <span>Website</span>
                    </router-link>
                </li>
                <li>
                    <router-link :to="{ name: 'user', query: { page: 1, limit: 15 } }" class="waves-effect waves-block">
                        <i class="material-icons">image</i>
                        <span>Quản lý hình ảnh</span>
                    </router-link>
                </li>
                <li>
                    <router-link :to="{ name: 'user', query: { page: 1, limit: 15 } }" class="waves-effect waves-block">
                        <i class="material-icons">work</i>
                        <span>My work</span>
                    </router-link>
                </li>
            </ul>
        </div>
        <!-- #Menu -->
    </aside>
    <!-- #END# Left Sidebar -->
</section>