<!-- <section>
    <aside id="leftsidebar" class="sidebar">
        <div class="menu">
            <ul class="list">
                <li>
                    <router-link :to="{name: 'dashboard'}" class="waves-effect waves-block">
                        <i class="material-icons">home</i>
                        <span>Home</span>
                    </router-link>
                </li>
                <li>
                    <router-link :to="{name: 'account', query: { page: 1, limit: 15 }}" class="waves-effect waves-block">
                        <i class="material-icons">supervisor_account</i>
                        <span>Tài khoản</span>
                    </router-link>
                </li>
                <li>
                    <router-link :to="{ name: 'user', query: { page: 1, limit: 15 } }" class="waves-effect waves-block">
                        <i class="material-icons">account_box</i>
                        <span>User</span>
                    </router-link>
                </li>
                <li>
                    <router-link :to="{ name: 'website', query: { page: 1, limit: 5 } }" class="waves-effect waves-block">
                        <i class="material-icons">link</i>
                        <span>Website</span>
                    </router-link>
                </li>
                <li>
                    <router-link :to="{ name: 'user', query: { page: 1, limit: 15 } }" class="waves-effect waves-block">
                        <i class="material-icons">image</i>
                        <span>Quản lý hình ảnh</span>
                    </router-link>
                </li>
                <li>
                    <router-link :to="{ name: 'user', query: { page: 1, limit: 15 } }" class="waves-effect waves-block">
                        <i class="material-icons">work</i>
                        <span>My work</span>
                    </router-link>
                </li>
            </ul>
        </div>
    </aside>
</section> -->