<section data-ng-controller="ProductsListController" data-ng-init="find()" id="mod-product">
    <section class="content-header">
        <h1>Xe</h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <a class="btn btn-primary" data-ui-sref="createProduct">Thêm xe</a>
                    </div>
                    <hr>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="box-tools">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="form-inline filter-layout">
                                        <div class="form-group">
                                            <label class="control-label" for="name">Tên</label>
                                            <input type="text" name="name" data-ng-model="query.name" class="form-control input-sm pull-right" placeholder="Search" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="name">Model xe</label>
                                            <select class="form-control" data-ng-model="query.model" id="model" name="model" ng-if="listSuplier" ui-select2>
                                                <option value="">Model xe</option>
                                                <option value="{{item._id}}" ng-repeat="item in listModel">{{item.name}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="brand">Nhà sản xuất</label>
                                            <select class="form-control" data-ng-model="query.brand" id="brand" name="brand" ng-if="listBrand" ui-select2>
                                                <option value="">Nhà sản xuất</option>
                                                <option value="{{item._id}}" ng-repeat="item in listBrand">{{item.name}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="supplier">Nhà phân phối</label>
                                            <select class="form-control" data-ng-model="query.supplier" id="supplier" name="supplier"  ng-if="listSuplier" ui-select2>
                                                <option value="">Nhà phân phối</option>
                                                <option value="{{item._id}}" ng-repeat="item in listSuplier">{{item.name}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="status">Trạng thái</label>
                                            <select class="form-control" data-ng-model="query.status" id="status" name="status" ng-options="item.value as item.name for item in statuses">
                                                <option value="">Trạng thái</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="age_car">Tình trạng</label>
                                            <select class="form-control" data-ng-model="query.age_car" id="age_car" name="age_car">
                                                <option value="">Tình trạng</option>
                                                <option value="new">Mới</option>
                                                <option value="old">Cũ</option>
                                            </select>
                                        </div>
                                        <hr>
                                        <div class="form-group filter-submit">
                                            <a class="btn btn-primary" ng-click="filter()">Filter</a> &nbsp;&nbsp;
                                            <a class="btn btn-primary" ng-click="reset()">Reset</a>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>&nbsp;</div>
                        <table id="table-list" class="table table-bordered table-hover">
                            <tr>
                                <th>ID</th>
                                <th>Hình ảnh</th>
                                <th>Tên</th>
                                <th>Model xe</th>
                                <th>Nhà sản xuất</th>
                                <th>Nhà phân phối</th>
                                <th>Trạng thái</th>
                                <th>Tình trạng</th>
                                <th>Action</th>
                            </tr>
                            <tr data-ng-repeat="product in products">
                                <td>
                                    <a data-ui-sref="editProduct({productId: product._id})">{{product._id}}</a>
                                </td>
                                <td>
                                    <img ng-src="{{url + product.thumb.url}}" alt="" ng-if="product.thumb" class="image-cate">
                                </td>
                                <td>{{product.name}}</td>
                                <td>{{product.model.name}}</td>
                                <td>{{product.brand.name}}</td>
                                <td>{{product.supplier.name}}</td>
                                <td>
                                    <a style="cursor:pointer" ng-click="changeStatus(product)">
                                        <span class="label label-success" ng-if="product.status == 1">Publish</span>
                                        <span class="label label-danger" ng-if="product.status == 0">Unpublish</span>
                                    </a>
                                </td>
                                <td>
                                    <div data-ng-switch="product.age_car">
                                        <span ng-switch-when="new">Mới</span>
                                        <span ng-switch-when="old">Cũ</span>
                                        <span ng-switch-default>Mới</span>
                                    </div>
                                </td>
                                <td>
                                    <a data-ui-sref="editProduct({productId: product._id, type: 'XE'})" title="Edit"><i class="glyphicon glyphicon-edit"></i></a>                                        &nbsp; &nbsp;
                                    <a ng-click="remove(product)" style="cursor:pointer" title="Delete">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <bz-pagination max-page="10" name="category_page" current-page="currentPage" total-page="totalPage" page-changed="pageChanged"></bz-pagination>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-warning text-center" data-ng-hide="!categories.$resolved || categories.length">
                    No Products yet, why don't you <a data-ui-sref="createCategory">create one</a>?
                </div>
            </div>
        </div>
    </section>
</section>