<h2>{{ title }}</h2>
<h2 [textContent]="title"></h2>

<div class="row">
    <img src="{{ imageUrl }}" class="col-xs-3"/>
    <img [src]="imageUrl" class="col-xs-3"/>
    <div class="clearfix"></div>
</div>
<table>
    <tr>
        <td [attr.colspan]="colSpan"></td>
    </tr>
</table>
<button class="btn btn-primary" [class.active]="isActive" [class.hover]="isHover">Save</button>
<button [style.backgroundColor]="isActive ? 'blue' : 'white'">Save</button>
<div (click)="onDivClick()">
    <button class="btn btn-primary" (click)="onSave($event)">Save</button>
</div>
<input (keyup.enter)="onKeyUp($event)" />
<br>
<input [(ngModel)]="email" (keyup.enter)="onKeyUp2()" />
{{email}}
<p>{{ course.title | uppercase | lowercase}}</p>
<p>{{ course.rating | number:'2.1-1' }}</p>
<p>{{ course.student | number:'1.2-2' }}</p>
<p>{{ course.price | currency:'AUD':true:'3.2-2' }}</p>
<p>{{ course.releaseDate | date:'dd/MM/yyyy' }}</p>
<p>{{ text | summary:10 }}</p>
<p>{{ isFavorite }} {{ isSelected }} {{ isChecked }}</p>
<button class="btn btn-primary" (click)="onClick()">Test</button>

<div class="panel panel-default">
    <div class="panel-heading">
        <ng-content select=".heading"></ng-content>
    </div>
    <div class="panel-body">
        <ng-content select=".body"></ng-content>
        <ng-content select=".content"></ng-content>
    </div>
</div>