<div class="container-fluid" id="vue-basic">
    <div class="block-header">
        <h2>BASIC VUE</h2>
    </div>
    <div class="row clearfix">
        <div class="col-xs-12">
            <div class="card">
                <div class="body">
                    <p>Bind string ~ [[message]]: \{{message}}</p>
                    <p>Bind in span ~ <code><span ng-bind="message"></span></code>: <span v-html="message"></span></p>
                    <div class="form-group">
                        <button class="btn btn-primary waves-effect" v-on:click="alert(message)">Call func alert</button>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" placeholder="Message text" v-model="message">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <div class="form-line">
                                    <textarea rows="4" class="form-control no-resize" v-model="message" placeholder="Message text"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <label>V-for and event handler</label>
                    <div class="form-group">
                        <ul class="list-group">
                            <li v-for="name in names" v-text="name" class="list-group-item"></li>
                        </ul>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="Message text" v-model="name_add">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <button class="btn btn-primary waves-effect" @click="addName()">Add name</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <label>Bind attribute</label>
                    <div class="form-group">
                        <h1 :class="className">Hello World</h1>
                        <button class="btn waves-effect" :class="{'btn-success': isLoading}" @click="toggleClass()">Toggle Class</button>
                    </div>

                    <label for="">Computed</label>
                    <div class="form-group">
                        <h2 v-text="new Date()"></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>