<% extends 'web/layouts/layout.html' %>
<% block content %>
<div id="mod-search" data-ng-controller="searchCtrl as vmSearch">
    <div class="container">
        <% if data.length > 0 %>
            <p>Tìm thấy <span><b><$ data.length $> </b></span> kết quả cho <b>"<$ query $>"</b></p>
        <% else %>
            <p>Không tìm thấy kết quả</p>
        <% endif %>
    </div>
    <div class="border"></div>
    <div class="container">
        <div class="search">
            <div class="item show-desktop ">
                <div class="ct-moto row">
                    <% for product in data %>
                        <div class="moto moto-1 col-md-6 col-12" style="background: url('files/product/<$ product.thumb.url $>') center center no-repeat;background-size: contain;">
                            <p><b><$ product.brand.name | upper $></b> <$ product.name $> <br>đ <$ product.price_user | currency(',') $> </p>
                            <img src="assets/images/moto-1.png" class="opacity">
                        </div>
                    <% endfor %>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<% endblock %>