<div id="mod-footer">
    <div class="container">
        <div class="row">
            <div class="col-4 status ">
                <h5>THÔNG TIN HỮU ÍCH</h5>
                <ul>
                    <li>Tin tức & khuyến Mãi</li>
                    <li>Chính Sách Bảo Mật</li>
                    <li>Điều Khoảng Sử Dụng</li>
                </ul>
            </div>
            <div class="col-4 lienhe">
               <h5>LIÊN HỆ</h5>
               <ul>
                <li><img src="http://placehold.it/30x30" alt="">(0912) 345 678</li>
                <li><img src="http://placehold.it/30x30" alt="">hello@gearup.com</li>
                <li><img src="http://placehold.it/30x30" alt="">Nhắn tin cho chúng tôi</li>
                <li><img src="http://placehold.it/30x30" alt="">GearUp VN</li>
            </ul>
        </div>
        <div class="col-4 intro">
           <h5>GIỚI THIỆU</h5>
           <ul>
            <li>GearUP GearUP GearUP GearUP GearUP GearUP GearUP GearUP GearUP GearUP GearUP </li>
        </ul>
    </div>
    <div class="col-8 logo-gear">
       <h5>THÔNG TIN HỮU ÍCH</h5>
       <ul>
        <li><img src="assets/images/logo-footer.png" alt="">Copyright 2017.All right reserved</li>
    </ul>
</div>
<div class="col-4 share"> 
    <h5>CHIA SẼ ĐAM MÊ</h5>
        <a href=""><img src="http://placehold.it/30x30" alt=""><span>aaa</span></a>
        <a href=""><img src="http://placehold.it/30x30" alt=""><span>aaa</span></a>
        <a href=""><img src="http://placehold.it/30x30" alt=""><span>aaa</span></a>
    </ul>
</div>
</div>
</div>
</div>