<div id="mod-not-found" class="module">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="image">

					<img src="{{ linkAssets 'frontend/images/404_img.png'}}" class="img-responsive" alt="">

				</div>
			</div>
			<div class="col-xs-12">
				<div class="content-right">
					<div class="text">
						<h5>Chúng tôi không tìm thấy trang bạn yêu cầu</h5>
						<p>Trang này không tồn tại hoặc sản phẩm đã bị xóa khỏi website</p>
					</div>
					<div class="button">
						<a href="/" class="btn">
							<img src="{{ linkAssets 'frontend/images/icon-home.png'}}" class="img-responsive" alt=""> Về trang chủ</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	setTimeout(function(){
		window.location.href = settings.services.webUrl;
	},3000);
</script>